<section class="container-fluid">
  <h2>Editar {{offering.title}}</h2>
  <div class="row mt-3 mb-5 justify-content-md-center">
    <div class="col-md-8">
      <form [formGroup]="editFormGroup" (ngSubmit)="edit()">
        <!--Register form-->
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput formControlName="number" placeholder="Número" required>
              <mat-error *ngIf="editFormGroup.get('number').hasError('required')">Se requiere número de la ofrenda</mat-error>
              <mat-error *ngIf="editFormGroup.get('number').hasError('min')">Debe ser mayor a 0</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput formControlName="title" placeholder="Título" required>
              <mat-error *ngIf="editFormGroup.get('title').hasError('required')">Se requiere título de la ofrenda</mat-error>
              <mat-error *ngIf="editFormGroup.get('title').hasError('pattern')">Sólo se aceptan
                caracteres alfanuméricos</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <textarea matInput formControlName="description" placeholder="Descripción"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="image" class="mb-3 d-block">Portada</label>
            <input type="file" id="image" name="photo" formControlName="image" ng2FileSelect [uploader]="uploader" />
            <mat-progress-bar *ngFor="let item of uploader.queue" mode="determinate" [value]="item.progress"></mat-progress-bar>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <a mat-button [routerLink]="['/admin/ofrendas/' + offering.event_id]" color="warn">Cancelar</a>
            <button mat-button type="submit" class="float-right" [disabled]="editFormGroup.invalid" color="blue-unam">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>