<section class="container-fluid">
  <h2 class="h2-secondary">Exportar Excel</h2>
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <form *ngIf="fileName==''">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <input type="file" id="excel" name="excel" ng2FileSelect [uploader]="uploader" />
          </div>
        </div>
      </form>
      <div class="row" *ngIf="fileName==''">
        <div class="col d-flex justify-content-center">
          <ng-container *ngFor="let item of uploader.queue">
            <mat-progress-spinner diameter="180" mode="determinate" [value]="item.progress"></mat-progress-spinner>
            <div class="info-spinner">
              <span *ngIf="item.progress<100">Subiendo excel</span>
              <span *ngIf="item.progress>=100">Preparando datos</span>
              <span>{{item.progress}}%</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row" *ngIf="fileName!=''">
        <div class="col d-flex justify-content-center">
          <mat-progress-spinner diameter="180" mode="determinate" [value]="(rowsImported*100)/rowsToImport"></mat-progress-spinner>
          <div class="info-spinner">
            <span>{{rowsImported*100/rowsToImport}}% Completado</span>
            <span>{{rowsImported}}/{{rowsToImport}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>