<h2 mat-dialog-title>Restaurar</h2>
<mat-dialog-content>¿Estas seguro de restaurar {{element.name}}?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">No</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button (click)="restore()" [disabled]="disableBtnYes">Si</button>
</mat-dialog-actions>