<section class="container-fluid">
  <h2>Profesores</h2>
  <a class="float-right mb-3" mat-fab [routerLink]="['/admin/profesores/nuevo']" color="primary">
    <fa-icon name="plus"></fa-icon>
  </a>
  <div class="clearfix"></div>
  <div class="overflow-x-auto">
    <table mat-table [dataSource]="teachers" class="w-100">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let teacher"> {{teacher.name}} </td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
        <td mat-cell *matCellDef="let teacher"> {{teacher.lastname}} </td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
        <td mat-cell *matCellDef="let teacher"> {{teacher.surname}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let teacher">
          <a [routerLink]="['/admin/profesores/editar/' + teacher.id]">
            <fa-icon name="edit" size="30px"></fa-icon>
          </a>
          <button class="border-0 p-0 m-2" (click)="delete(teacher)" *ngIf="!teacher.deleted_at">
            <fa-icon name="trash" color="danger" size="30px"></fa-icon>
          </button>
          <button class="border-0 p-0 m-2" (click)="restore(teacher)" *ngIf="teacher.deleted_at">
            <fa-icon name="trash-restore" color="success" size="30px"></fa-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['name', 'lastname', 'surname','actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'lastname', 'surname','actions'];"></tr>
    </table>
    <mat-paginator #paginator itemsPerPageLabel="Registros por página" [length]="totalRegisters"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onChangeEvent($event)">
    </mat-paginator>
  </div>
</section>