<section class="container-fluid">
  <h2>Requisitos</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let role of roles">
      <mat-expansion-panel-header>
        <mat-panel-title>{{role.name}}</mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <a class="float-right mb-3" mat-fab [routerLink]="['/admin/requisitos/' + role.id + '/nuevo']" color="primary">
        <fa-icon name="plus"></fa-icon>
      </a>
      <div class="clearfix"></div>
      <div class="overflow-x-auto">
        <table mat-table [dataSource]="role.requirements" class="w-100">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Requisito</th>
            <td mat-cell *matCellDef="let requirement"> {{requirement.name}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let requirement">
              <a class="border-0 p-0 m-2" matTooltip="Editar Requisito" [routerLink]="['/admin/requisitos/' + role.id + '/editar/' + requirement.id]">
                <fa-icon name="edit" size="30px"></fa-icon>
              </a>
              <button class="border-0 p-0 m-2" matTooltip="Borrar Requisito" (click)="delete(requirement)">
                <fa-icon name="trash" color="danger" size="30px"></fa-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['name','actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['name','actions'];"></tr>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>