<div class="swiper-container" #swiper>
  <div class="swiper-wrapper">
    <ng-content></ng-content>
  </div>
  <div class="swiper-pagination" *ngIf="pagination"></div>
  <div *ngIf="navigation" class="swiper-button-next"></div>
  <div *ngIf="navigation" class="swiper-button-prev"></div>
</div>
