<div class="container-fluid">
    <h2>Archivos</h2>
    <p>Los talleres aparecerán cuando se haya asignado la línea de captura</p>
    <div *ngIf="period">
        <div class="row">
            <div class="col-md-12">
                <h4 class="wp-title text-center">Periodo: {{period.name}}</h4>
                <table mat-table [dataSource]="requirementsPeriod" class="w-100">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Requerimiento </th>
                        <td mat-cell *matCellDef="let req"> {{req.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="file">
                        <th mat-header-cell *matHeaderCellDef> Documento </th>
                        <td mat-cell *matCellDef="let req">
                            <a *ngIf="req.file_url" [href]="req.file_url + '?token='+ token" target="_blank">
                                <fa-icon name="file-pdf" size="40px" *ngIf="req.mime=='pdf'" color="danger"></fa-icon>
                                <fa-icon name="file-image" size="40px" *ngIf="req.mime!='pdf'"></fa-icon>
                            </a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="upload">
                        <th mat-header-cell *matHeaderCellDef> Subir </th>
                        <td mat-cell *matCellDef="let req">
                            <input type="file" ng2FileSelect [uploader]="uploaderPeriod" (onFileSelected)="onFilePeriodSelected($event, req)" accept=".png,.jpg,.jpeg,.pdf"/>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="disclaimer">
                        <td mat-footer-cell *matFooterCellDef colspan="3">
                            <button mat-button  color="primary" class="float-right" (click)="uploadFilesPeriod()" [disabled]="!uploaderPeriod.getNotUploadedItems().length">
                                <fa-icon name="upload" size="30px"></fa-icon> Envíar archivos
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['name', 'file', 'upload']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['name', 'file', 'upload'];"></tr>
                    <tr mat-footer-row *matFooterRowDef="['disclaimer']"></tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ng-container *ngFor="let wp of requirementsWorkshop; index as ind">
                    <h4 class="wp-title text-center">{{wp.name}}</h4>
                    <table mat-table [dataSource]="wp.requirements" class="w-100" >
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Requerimiento </th>
                            <td mat-cell *matCellDef="let req"> {{req.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="file">
                            <th mat-header-cell *matHeaderCellDef> Documento </th>
                            <td mat-cell *matCellDef="let req">
                                <a *ngIf="req.file_url" [href]="req.file_url + '?token='+ token" target="_blank">
                                    <fa-icon name="file-pdf" size="40px" *ngIf="req.mime=='pdf'" color="danger"></fa-icon>
                                    <fa-icon name="file-image" size="40px" *ngIf="req.mime!='pdf'"></fa-icon>
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="upload">
                            <th mat-header-cell *matHeaderCellDef> Subir </th>
                            <td mat-cell *matCellDef="let req">
                                <input type="file" ng2FileSelect [uploader]="uploaderArray[ind]" (onFileSelected)="onFileWorkshopSelected($event, req)"  accept=".png,.jpg,.jpeg,.pdf" [disabled]="!allFilesPeriod"/>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="disclaimer">
                            <td mat-footer-cell *matFooterCellDef colspan="3">
                                <button mat-button  color="primary" class="float-right" (click)="uploadFilesWorkshop(ind)" [disabled]="uploaderArray[ind].getNotUploadedItems().length != wp.requirements.length||!allFilesPeriod">
                                    <fa-icon name="upload" size="30px"></fa-icon> Envíar archivos
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="['name', 'file', 'upload']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['name', 'file', 'upload'];"></tr>
                        <tr mat-footer-row *matFooterRowDef="['disclaimer']"></tr>
                    </table>
                    
                </ng-container>
            </div>
        </div>
    </div>
    <div *ngIf="!period">
        <h3>No hay un periodo activo.</h3>
    </div>
</div>