@import '~variables.scss';

:host(.icon-md-white){
    color: $white;
}
:host(.icon-md-blue-unam){
    color: $blue-unam;
}
:host(.icon-md-success){
    color: $success;
}
:host(.icon-md-danger){
    color: $danger;
}
:host(.icon-md-warning){
    color: $warning;
}
:host(.icon-animate){
    animation: wrench 2.5s ease infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes wrench {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}

@keyframes wrench {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}