<section class="container-fluid overflow-x-auto">
  <h3>Validar taller</h3>
  <h4>Alumno: {{user.name}} {{user.lastname}} {{user.surname}}</h4>
  <h5>Taller: {{workshop_period.workshop.name}}</h5>
  <h5>Folio: {{inscription.folio}}</h5>
  <h5>Cuota: {{inscription.quota | currency}} MXN</h5>
  <form [formGroup]="editFormGroup" (ngSubmit)="update()">
    <!--Register form-->
    <div class="row">
      <div class="col-md-6 mt-3">
        <mat-form-field>
          <input matInput formControlName="ticket_folio" placeholder="Folio del Ticket">
          <mat-error *ngIf="editFormGroup.get('ticket_folio').hasError('pattern')">Sólo se aceptan
            caracteres alfabéticos</mat-error>
          <mat-error *ngIf="editFormGroup.get('ticket_folio').hasError('unique')">El Folio del ticket ya
            existe.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput [matDatepicker]="pickerTicketDate" placeholder="Fecha de ticket"
            formControlName="ticket_date">
          <mat-datepicker-toggle matSuffix [for]="pickerTicketDate"></mat-datepicker-toggle>
          <mat-datepicker #pickerTicketDate></mat-datepicker>
          <mat-error *ngIf="editFormGroup.get('ticket_date').hasError('required')">Se requiere
            Fecha de ticket</mat-error>
          <mat-error *ngIf="editFormGroup.get('ticket_date').hasError('pattern')">Sólo se
            aceptan
            caracteres alfabéticos</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input mask="0*" matInput formControlName="extra" placeholder="Cuota Extra"
            matTooltip="Se ingresa el monto en pesos que el alumno hace ademas del costo del taller">
          <mat-error *ngIf="editFormGroup.get('extra').hasError('pattern')">Sólo se aceptan
            caracteres numéricos</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input mask="0*" matInput formControlName="scholarship" placeholder="Beca"
            matTooltip="Se ingresa el monto en pesos de la beca que se le proporciona al alumno.">

        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6 mb-3">
        <button mat-button (click)="back()" type="button" color="warn">Cancelar</button>
        <!--<a mat-button [routerLink]="['/admin/usuarios/talleres/' + user.id]" color="warn">Cancelar</a>-->
      </div>
      <div class="col-md-6 mb-3">
        <button mat-button type="submit" class="float-right" [disabled]="editFormGroup.invalid||btnDisable"
          color="blue-unam">Validar/Guardar</button>
      </div>
    </div>
  </form>
</section>