@import '~variables.scss';
:host(.load-img){
    &.load-img-primary{
        div{
            background: $blue-unam;
        }
    }
    &.load-img-secondary{
        div{
            background: $primary;
        }
    }
    &.load-img-danger{
        div{
            background: $danger;
        }
    }
    &.load-img-warning{
        div{
            background: $warning;
        }
    }
    &.load-img-success{
        div{
            background: $success;
        }
    }
    height: 1.5rem;
    width: 6rem;
    position: relative;
    display: block;
    margin: 0 auto;
    div {
        position: absolute;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
        &:nth-child(1) {
            left: 6px;
            animation: load-img1 0.6s infinite;
        }
        &:nth-child(2) {
            left: 6px;
            animation: load-img2 0.6s infinite;
        }
        &:nth-child(3) {
            left: 26px;
            animation: load-img2 0.6s infinite;
        }
        &:nth-child(4) {
            left: 45px;
            animation: load-img3 0.6s infinite;
        }
    }
    @keyframes load-img1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes load-img3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    @keyframes load-img2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(19px, 0);
        }
    }
}