<h2 mat-dialog-title>Se necesita asignar una cuota a este tipo de alumno</h2>
<mat-dialog-content>
  <form [formGroup]="priceFormLogin" (ngSubmit)="setPrice()">
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <mat-form-field>
            <input mask="0*" matInput type="text" placeholder="Cuota" formControlName="price" required>
            <mat-error *ngIf="priceFormLogin.get('price').hasError('required')">Se necesita una cuota</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-button (click)="setPrice()" [disabled]="priceFormLogin.invalid">Inscribir</button>
</mat-dialog-actions>