<section class="container-fluid">
  <h2>Periodos</h2>
  <div class="row">
    <div class="col-md-6">
      <p>Registros Totales: {{totalRegisters}}</p>
    </div>
    <div class="col-md-6">
      <a class="float-right mb-3" mat-fab [routerLink]="['/admin/periodos/nuevo']" color="primary">
        <fa-icon name="plus"></fa-icon>
      </a>
    </div>
  </div>
  
  <div class="clearfix"></div>
  <div class="overflow-x-auto">
    <table mat-table [dataSource]="periods" class="w-100">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let period"> {{period.name}} </td>
      </ng-container>

      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef> Inicia </th>
        <td mat-cell *matCellDef="let period"> {{period.start | momentFormat:'DD/MM/YYYY'}} </td>
      </ng-container>

      <ng-container matColumnDef="finish">
        <th mat-header-cell *matHeaderCellDef> Termina </th>
        <td mat-cell *matCellDef="let period"> {{period.finish | momentFormat:'DD/MM/YYYY'}} </td>
      </ng-container>

      <ng-container matColumnDef="inscription_start">
        <th mat-header-cell *matHeaderCellDef> Inicia Inscripción</th>
        <td mat-cell *matCellDef="let period"> {{period.inscription_start | momentFormat:'DD/MM/YYYY HH:mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="inscription_finish">
        <th mat-header-cell *matHeaderCellDef> Termina Inscripción</th>
        <td mat-cell *matCellDef="let period"> {{period.inscription_finish | momentFormat:'DD/MM/YYYY HH:mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let period">
          <a mat-icon-button color="primary" matTooltip="Talleres del semestre" [routerLink]="['/admin/talleres-periodo/' + period.id]">
            <acfa-icon name="projector" size="30px"></acfa-icon>
          </a>
          <a mat-icon-button color="primary" matTooltip="Requisitos del semestre" [routerLink]="['/admin/requisitos-periodo/' + period.id]">
            <fa-icon name="clipboard-list" size="30px"></fa-icon>
          </a>
          <a mat-icon-button color="primary" matTooltip="Editar semestre" [routerLink]="['/admin/periodos/editar/' + period.id]">
            <fa-icon name="edit" size="30px"></fa-icon>
          </a>
          <button mat-icon-button color="primary" matTooltip="Borrar semestre" (click)="delete(period)" *ngIf="!period.deleted_at">
            <fa-icon name="trash" color="danger" size="30px"></fa-icon>
          </button>
          <button class="border-0 p-0 m-2" (click)="restore(period)" *ngIf="period.deleted_at">
            <fa-icon name="trash-restore" color="success" size="30px"></fa-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['name', 'start', 'finish','inscription_start','inscription_finish','actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'start', 'finish','inscription_start','inscription_finish','actions'];"></tr>
    </table>
    <mat-paginator #paginator itemsPerPageLabel="Registros por página" [length]="totalRegisters"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onChangeEvent($event)">
    </mat-paginator>
  </div>
</section>