<section class="container-fluid">
  <h2>Facultades</h2>
  <div class="row">
    <div class="col-md-6">
      <p>Registros Totales: {{totalRegisters}}</p>
    </div>
    <div class="col-md-6">
      <a class="float-right mb-3" mat-fab [routerLink]="['/admin/facultades/nuevo']" color="primary">
        <fa-icon name="plus"></fa-icon>
      </a>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="overflow-x-auto">
    <table mat-table [dataSource]="campus" class="w-100">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let camp"> {{camp.name}} </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let camp"> {{camp.code}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let camp">
          <a [routerLink]="['/admin/facultades/editar/' + camp.id]">
            <fa-icon name="edit" size="30px"></fa-icon>
          </a>
          <button class="border-0 p-0 m-2" (click)="delete(camp)" *ngIf="!camp.deleted_at">
            <fa-icon name="trash" size="30px" color="danger"></fa-icon>
          </button>
          <button class="border-0 p-0 m-2" (click)="restore(camp)" *ngIf="camp.deleted_at">
            <fa-icon name="trash-restore" color="success" size="30px"></fa-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['name', 'code','actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'code','actions'];"></tr>
    </table>
    <mat-paginator #paginator itemsPerPageLabel="Registros por página" [length]="totalRegisters"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onChangeEvent($event)">
    </mat-paginator>
  </div>
</section>