<section class="container-fluid">
  <mat-tab-group>
    <mat-tab label="Eventos Boletos">
      <a class="float-right mb-3" mat-fab [routerLink]="['/admin/eventos/conciertos/nuevo']" color="primary">
        <fa-icon name="plus"></fa-icon>
      </a>
      <div class="clearfix"></div>
      <div class="overflow-x-auto">
        <table mat-table [dataSource]="concerts" class="w-100">
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Título </th>
            <td mat-cell *matCellDef="let concert"> {{concert.title}} </td>
          </ng-container>

          <ng-container matColumnDef="inscription_start">
            <th mat-header-cell *matHeaderCellDef> Inicia Inscripción</th>
            <td mat-cell *matCellDef="let concert"> {{concert.inscription_start | momentFormat:'DD/MM/YYYY HH:mm'}} </td>
          </ng-container>

          <ng-container matColumnDef="inscription_finish">
            <th mat-header-cell *matHeaderCellDef> Termina Inscripción</th>
            <td mat-cell *matCellDef="let concert"> {{concert.inscription_finish | momentFormat:'DD/MM/YYYY HH:mm'}} </td>
          </ng-container>

          <ng-container matColumnDef="quota">
            <th mat-header-cell *matHeaderCellDef> Cupo </th>
            <td mat-cell *matCellDef="let concert"> {{concert.quota}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let concert">
              <a mat-icon-button class="anchor-action" color="primary" matTooltip="Editar concierto" [routerLink]="['/admin/eventos/conciertos/editar/' + concert.id]">
                <fa-icon name="edit" size="30px"></fa-icon>
              </a>
              <button mat-icon-button class="anchor-action" matTooltip="Descargar Reporte en Excel" (click)="downloadReport(concert, 'csv')">
                <fa-icon name="file-excel" size="30px"></fa-icon>
              </button>
              <button mat-icon-button class="anchor-action" matTooltip="Descargar Reporte en PDF" (click)="downloadReport(concert, 'pdf')">
                <fa-icon name="file-pdf" size="30px"></fa-icon>
              </button>
              <button mat-icon-button class="anchor-action" matTooltip="Borrar concierto" (click)="delete(concert)" *ngIf="!concert.deleted_at">
                <fa-icon name="trash" color="danger" size="30px"></fa-icon>
              </button>
              <button mat-icon-button class="anchor-action" (click)="restore(concert)" *ngIf="concert.deleted_at">
                <fa-icon name="trash-restore" color="success" size="30px"></fa-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['title','inscription_start','inscription_finish','quota','actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['title', 'inscription_start','inscription_finish','quota','actions'];"></tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Eventos Públicos">
      <a class="float-right mb-3" mat-fab [routerLink]="['/admin/eventos/publicos/nuevo']" color="primary">
        <fa-icon name="plus"></fa-icon>
      </a>
      <div class="clearfix"></div>
      <div class="overflow-x-auto">
        <table mat-table [dataSource]="publicEvents" class="w-100">
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Título </th>
            <td mat-cell *matCellDef="let concert"> {{concert.title}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let concert">
              <a mat-icon-button class="anchor-action" color="primary" matTooltip="Editar evento público" [routerLink]="['/admin/eventos/publicos/editar/' + concert.id]">
                <fa-icon name="edit" size="30px"></fa-icon>
              </a>
              <button mat-icon-button class="anchor-action" matTooltip="Descargar Reporte en Excel" (click)="downloadReport(concert, 'csv')">
                <fa-icon name="file-excel" size="30px"></fa-icon>
              </button>
              <button mat-icon-button class="anchor-action" matTooltip="Descargar Reporte en PDF" (click)="downloadReport(concert, 'pdf')">
                <fa-icon name="file-pdf" size="30px"></fa-icon>
              </button>
              <button mat-icon-button class="anchor-action" matTooltip="Borrar evento público" (click)="delete(concert)" *ngIf="!concert.deleted_at">
                <fa-icon name="trash" color="danger" size="30px"></fa-icon>
              </button>
              <button mat-icon-button class="anchor-action" (click)="restore(concert)" *ngIf="concert.deleted_at">
                <fa-icon name="trash-restore" color="success" size="30px"></fa-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['title','actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['title','actions'];"></tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Eventos de ofrendas">
      <a class="float-right mb-3" mat-fab [routerLink]="['/admin/eventos/ofrendas/nuevo']" color="primary">
        <fa-icon name="plus"></fa-icon>
      </a>
      <div class="clearfix"></div>
      <div class="overflow-x-auto">
        <table mat-table [dataSource]="offerings" class="w-100">
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Título </th>
            <td mat-cell *matCellDef="let offering"> {{offering.title}} </td>
          </ng-container>

          <ng-container matColumnDef="inscription_start">
            <th mat-header-cell *matHeaderCellDef> Inicio de Votación</th>
            <td mat-cell *matCellDef="let offering"> {{offering.inscription_start | momentFormat:'DD/MM/YYYY HH:mm'}} </td>
          </ng-container>

          <ng-container matColumnDef="inscription_finish">
            <th mat-header-cell *matHeaderCellDef> Termino de Votación</th>
            <td mat-cell *matCellDef="let offering"> {{offering.inscription_finish | momentFormat:'DD/MM/YYYY HH:mm'}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let offering">
              <a mat-icon-button class="anchor-action" color="primary" matTooltip="ofrendas" [routerLink]="['/admin/ofrendas/' + offering.id]">
                <acfa-icon name="skull" size="30px"></acfa-icon>
              </a>
              <a mat-icon-button class="anchor-action" matTooltip="Editar evento" [routerLink]="['/admin/eventos/ofrendas/editar/' + offering.id]">
                <fa-icon name="edit" size="30px"></fa-icon>
              </a>
              <button mat-icon-button class="anchor-action" matTooltip="Borrar evento" (click)="delete(offering)" *ngIf="!offering.deleted_at">
                <fa-icon name="trash" color="danger" size="30px"></fa-icon>
              </button>
              <button mat-icon-button class="anchor-action" (click)="restore(offering)" *ngIf="offering.deleted_at">
                <fa-icon name="trash-restore" color="success" size="30px"></fa-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['title', 'inscription_start', 'inscription_finish','actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['title', 'inscription_start', 'inscription_finish','actions'];"></tr>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>