/**
<%= fontName %> Webfont
*/
@font-face {
    font-family: '<%= fontName %>';
    src: url('<%= fontName %>.eot?<%= fontDate %>');
    src: url('<%= fontName %>.eot?#iefix-<%= fontDate %>') format('embedded-opentype'),
    url('<%= fontName %>.woff2?<%= fontDate %>') format('woff2'),
    url('<%= fontName %>.woff?<%= fontDate %>') format('woff'),
    url('<%= fontName %>.ttf?<%= fontDate %>') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  .icon-acfa {
    font-family: '<%= fontName %>';
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
  /*
  Glyphs list
  */
  <% _.each(glyphs, function(icon){ %>
       .icon-acfa-<%= icon.name%>:before {
          content: '\<%= icon.unicode[0].charCodeAt(0).toString(16) %>';
      }
  <% }) %>
  