<section class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-5">
            <img *ngIf="workshop.image_url" [alt]="workshop.name" [src]="workshop.image_url" width="100%">
        </div>
        <div class="col-md-7">
            <countdown [config]="configCountdown" (finished)="onFinished()" class="d-flex justify-content-center" #counter *ngIf="configCountdown.leftTime>0"></countdown>
            <h1>{{workshop.name}}</h1>
            <div class="row" *ngIf="workshop.objective">
                <div class="col-md-12">
                    <h3>Objetivos</h3>
                    <p>{{workshop.objective}}</p>
                </div>
            </div>
            <div class="row" *ngIf="workshop.information">
                <div class="col-md-12">
                    <h3>Información</h3>
                    <p>{{workshop.information}}</p>
                </div>
            </div>
            <div class="row" *ngIf="workshop.requirement">
                <div class="col-md-12">
                    <h3>Requerimientos</h3>
                    <p>{{workshop.requirement}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Horarios disponibles:</h3>
        <div class="clearfix"></div>
        <div class="col-md-12 overflow-x-auto">
            <table mat-table [dataSource]="workshop.workshop_period" class="w-100">
                <ng-container matColumnDef="group">
                    <th mat-header-cell *matHeaderCellDef> Grupo </th>
                    <td mat-cell *matCellDef="let workshop_period"> {{workshop_period.group}} </td>
                </ng-container>
                <ng-container matColumnDef="quota">
                    <th mat-header-cell *matHeaderCellDef> Cupo </th>
                    <td mat-cell *matCellDef="let workshop_period"> {{workshop_period.students_inscribed_count}}/{{workshop_period.quota}} </td>
                </ng-container>
                <ng-container matColumnDef="classroom">
                    <th mat-header-cell *matHeaderCellDef> Lugar </th>
                    <td mat-cell *matCellDef="let workshop_period"> {{workshop_period.classroom.name}} </td>
                </ng-container>
                <ng-container matColumnDef="teacher">
                    <th mat-header-cell *matHeaderCellDef> Profesor </th>
                    <td mat-cell *matCellDef="let workshop_period"> {{workshop_period.teacher.name}} {{workshop_period.teacher.lastname}} {{workshop_period.teacher.surname}}</td>
                </ng-container>
                <ng-container matColumnDef="schedules">
                    <th mat-header-cell *matHeaderCellDef> Horario </th>
                    <td mat-cell *matCellDef="let workshop_period"> 
                        <ul>
                            <li *ngFor="let schedule of workshop_period.schedules">{{ schedule | scheduleFormat}}</li>
                        </ul>
                    </td>
                </ng-container>
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef class="price-th"> </th>
                    <td mat-cell *matCellDef="let workshop_period"> 
                        <ul>
                            <li *ngFor="let student of workshop_period.students">{{student.name}}: $ {{student.pivot.price}}</li>
                        </ul>
                    </td>
                </ng-container>
                <ng-container matColumnDef="notes">
                    <th mat-header-cell *matHeaderCellDef> Notas </th>
                    <td mat-cell *matCellDef="let workshop_period"> {{workshop_period.notes}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let workshop_period">
                        <button [disabled]="disableAllBtn||!workshop_period.can" *ngIf="workshop.has_user&&!workshop_period.inscribed" [matTooltip]="workshop_period.cant_message" mat-raised-button color="primary" (click)="validateCollegeDegree(workshop_period)">
                            Inscribirme
                        </button>
                        <button [routerLink]="['/mis-talleres/']" *ngIf="workshop.has_user&&workshop_period.inscribed" mat-raised-button color="primary">
                            Detalle
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['group','quota', 'classroom','teacher','schedules','price','notes','actions']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['group','quota','classroom','teacher','schedules','price','notes', 'actions'];"></tr>
            </table>
        </div>
    </div>
</section>