<section class="container-fluid">
    <h2>Lineas de Captura</h2>
    <div class="row">
        <div class="col-md-3">
            <mat-form-field>
                <mat-select placeholder="Periodo" [(ngModel)]="cpPeriodId" (selectionChange)="onPeriodChange()" required>
                    <mat-option value="-1">--</mat-option>
                    <mat-option *ngFor="let period of periods" [value]="period.id">
                      {{period.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <mat-select placeholder="Valor" [(ngModel)]="cpValue" (selectionChange)="onValueChange()" required>
                    <mat-option [value]="-1">--</mat-option>
                    <mat-option *ngFor="let value of cpValues" [value]="value">
                      {{value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <mat-select placeholder="Filtrar por: " [(ngModel)]="cpUse" (selectionChange)="onFilterChange()" required>
                    <mat-option value="all">Todas</mat-option>
                    <mat-option value="used">Asignadas</mat-option>
                    <mat-option value="notused">No Asignadas</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <p>Registros Totales: {{totalRegisters}}</p>
        </div>
        <div class="col-md-1">
            <a class="float-right mb-3" mat-fab [routerLink]="['/admin/lineas-de-captura/nuevo']" color="primary">
                <fa-icon name="plus"></fa-icon>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="overflow-x-auto">
        <table mat-table [dataSource]="capturelines" class="w-100">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID</th>
                <td mat-cell *matCellDef="let captureline"> {{captureline.id}} </td>
            </ng-container>
            <ng-container matColumnDef="pathname">
                <th mat-header-cell *matHeaderCellDef> Nombre</th>
                <td mat-cell *matCellDef="let captureline">
                    <a [href]="captureline.img_url + '?token='+ token" target="_blank"><img [src]="captureline.img_url + '?token='+ token" width="100px"></a>
                </td>
            </ng-container>
            <ng-container matColumnDef="date_valid">
                <th mat-header-cell *matHeaderCellDef> Fecha de uso</th>
                <td mat-cell *matCellDef="let captureline">
                    {{captureline.date_valid | momentFormat:'DD/MM/YYYY'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Valor</th>
                <td mat-cell *matCellDef="let captureline">
                    {{captureline.value}}
                </td>
            </ng-container>
            <ng-container matColumnDef="inscription">
                <th mat-header-cell *matHeaderCellDef> Inscripción (folio) </th>
                <td mat-cell *matCellDef="let captureline">
                    <span *ngIf="!captureline.inscription">No asignada</span>
                    <a mat-button [routerLink]="['/admin/inscripciones/' + captureline.inscription.id]" *ngIf="captureline.inscription">{{captureline.inscription.folio}}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let captureline">
                    <button mat-button class="border-0 p-0 m-2" (click)="delete(captureline, false)" *ngIf="!captureline.deleted_at">
                        <fa-icon name="trash" size="30px" color="danger"></fa-icon>
                    </button>
                    <button mat-button class="border-0 p-0 m-2" (click)="delete(captureline, true)" *ngIf="captureline.deleted_at">
                        <fa-icon name="trash" size="30px" color="danger"></fa-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['id', 'pathname', 'date_valid', 'value', 'inscription','actions']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['id','pathname', 'date_valid', 'value','inscription','actions'];" [ngClass]="{'deleted-row': row.deleted_at}"></tr>
        </table>
        <mat-paginator #paginator itemsPerPageLabel="Registros por página" [length]="totalRegisters"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="onChangeEvent($event)">
        </mat-paginator>
    </div>
</section>