<section class="container-fluid">
    <h2>Subir líneas de captura</h2>
    <div class="row">
        <div class="col-md-2">
            <form>
                <mat-form-field>
                    <mat-select placeholder="Periodo" [(ngModel)]="period_id" name="period">
                        <mat-option [value]="-1">--</mat-option>
                        <mat-option *ngFor="let period of periods" [value]="period.id">
                          {{period.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
        <div class="col-md-3">
            <form>
                <input type="file" id="image" name="captureline" ng2FileSelect [uploader]="uploader" multiple />
            </form>
        </div>
        <div class="col-md-2">
            <form>
                <mat-form-field>
                    <input type="text" name="captureline" [(ngModel)]="value" matInput placeholder="Valor de las líneas de captura"/>
                </mat-form-field>
            </form>
        </div>
        <div class="col-md-2">
            <form>
                <mat-form-field>
                    <input matInput name="date_valid" [matDatepicker]="pickerStart" placeholder="Fecha de uso"
                        [(ngModel)]="date_valid">
                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>
            </form>
        </div>
        <div class="col-md-3">
            <button mat-button type="button"
            (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length||value==0||date_valid==null||period_id==-1">
                <fa-icon name="upload" size="30px" color="success"></fa-icon> Subir
            </button>
            <button mat-button type="button"
                    (click)="clean()" [disabled]="filesAdd.length==0">
                <fa-icon name="trash" size="30px" color="danger"></fa-icon> Limpiar
            </button>
            <a mat-button type="button"
                [routerLink]="['/admin/lineas-de-captura']">
                <fa-icon name="backspace" size="30px" color="danger"></fa-icon> Regresar
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table mat-table [dataSource]="filesAdd" class="w-100">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre</th>
                    <td mat-cell *matCellDef="let item"> {{ item?.file?.name }} </td>
                </ng-container>
    
                <ng-container matColumnDef="size">
                    <th mat-header-cell *matHeaderCellDef> Tamaño </th>
                    <td mat-cell *matCellDef="let item"> <span *ngIf="uploader.options.isHTML5">{{ item?.file?.size/1024/1024 | number:'.2' }} MB</span> </td>
                </ng-container>
                <ng-container matColumnDef="progress">
                    <th mat-header-cell *matHeaderCellDef> Progreso</th>
                    <td mat-cell *matCellDef="let item">
                        <div *ngIf="uploader.options.isHTML5">
                            <mat-progress-bar mode="determinate" [value]="item.progress">
                            </mat-progress-bar>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef> Estado</th>
                    <td mat-cell *matCellDef="let item">
                        <span *ngIf="item.isSuccess"><fa-icon color="success" name="check-circle" size="30px"></fa-icon></span>
                        <span *ngIf="item.isCancel"><fa-icon color="warning" name="ban" size="30px"></fa-icon></span>
                        <span *ngIf="item.isError"><fa-icon color="danger" name="minus-circle" size="30px"></fa-icon></span>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['name', 'size','progress','state']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['name', 'size','progress','state'];"></tr>
            </table>
        </div>
    </div>
</section>