<section class="container-fluid overflow-x-auto">
  <h3>Talleres</h3>
  <a class="float-right" mat-button [routerLink]="['archivos']" routerLinkActive="router-link-active"  color="primary">
    <fa-icon name="upload" size="30px"></fa-icon> Subir archivos
  </a>
  <div class="clearfix"></div>
  <div class="overflow-x-auto">
    <table mat-table [dataSource]="inscriptions" class="w-100">
      <ng-container matColumnDef="folio">
        <th mat-header-cell *matHeaderCellDef> Folio de inscripción </th>
        <td mat-cell *matCellDef="let insc"> {{insc.inscription.folio}} </td>
      </ng-container>
      <ng-container matColumnDef="workshop">
        <th mat-header-cell *matHeaderCellDef> Taller </th>
        <td mat-cell *matCellDef="let insc"> {{insc.workshop_period.workshop.name}} </td>
      </ng-container>
      <ng-container matColumnDef="schedule">
        <th mat-header-cell *matHeaderCellDef> Horario </th>
        <td mat-cell *matCellDef="let insc">
          <ul>
            <li *ngFor="let schedule of insc.workshop_period.schedules">{{ schedule | scheduleFormat}}</li>
          </ul>
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Estatus </th>
          <td mat-cell *matCellDef="let insc">
            <span *ngIf="insc.inscription.status==0">Pre-Inscrito (Esperando Línea de Captura)</span>
            <span *ngIf="insc.inscription.status==1">Validado | {{ insc.inscription.updated_at | momentFormat:'DD/MM/YYYY HH:mm'}}</span>
            <span *ngIf="insc.inscription.status==2">Penalizado</span>
            <span *ngIf="insc.inscription.status==3">No Validado</span>
            <span *ngIf="insc.inscription.status==4||insc.inscription.status==6">Subiendo Archivos</span>
            <span *ngIf="insc.inscription.status==5">Validando Archivos</span>
          </td>
      </ng-container>
      <ng-container matColumnDef="captureline">
        <th mat-header-cell *matHeaderCellDef> Línea de captura</th>
        <td mat-cell *matCellDef="let insc"> 
          <span *ngIf="insc.inscription.captureline_id">
            <a [href]="insc.inscription.captureline.img_url + '?token='+ token" target="_blank"><img [src]="insc.inscription.captureline.img_url + '?token='+ token" width="100px"></a>
          </span><br />
          <span *ngIf="insc.inscription.captureline_id">
            <button mat-button color="primary" (click)="removeCaptureline(insc.inscription)" [disabled]="blockButtons">Remover Línea de captura</button>
          </span>
          <span *ngIf="!insc.inscription.captureline_id">
            <button mat-button color="primary" (click)="sendCaptureline(insc.inscription)" [disabled]="blockButtons">Asignar Línea de captura</button>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let insc">
          <a mat-icon-button color="primary" class="anchor-action" [routerLink]="['/admin/inscripciones/' + insc.inscription.id]">
            <fa-icon name="user-check" size="30px"></fa-icon>
          </a>
          <a mat-icon-button target="_blank" color="primary" matTooltip="Imprimir comprobante" [href]="apiUrl + 'inscription/inscribe-pdf-user/' + insc.inscription.user_id +  '/' + insc.inscription.id + '/?token=' + token">
            <fa-icon name="print" size="30px"></fa-icon>
          </a>
          <a mat-icon-button target="_blank" color="primary" matTooltip="Imprimir Credencial" [href]="apiUrl + 'users/profile-id-card-admin/' + insc.inscription.user_id +  '/' + insc.inscription.id + '/?token=' + token">
            <fa-icon name="id-card" size="30px"></fa-icon>
          </a>

        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['folio', 'workshop', 'schedule', 'status','captureline', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['folio', 'workshop', 'schedule', 'status','captureline', 'actions'];"></tr>
    </table>
  </div>
</section>