<h2 mat-dialog-title>Recortar imágen</h2>
<mat-dialog-content>
  <mat-horizontal-stepper linear #stepperImage (selectionChange)="selectionChange($event)">
    <ng-template matStepperIcon="edit">
      <fa-icon name="pen"></fa-icon>
    </ng-template>
  
    <ng-template matStepperIcon="done">
      <fa-icon name="check-circle"></fa-icon>
    </ng-template>
    <mat-step [completed]="step==0">
      <ng-template matStepLabel>Recorta imágen</ng-template>
      <app-cropper [src]="imageFullpath" [heightRatio]="heightRatio" [widthRatio]="widthRatio" (getCropper)="getCropper($event)"></app-cropper>
    </mat-step>
    <mat-step [completed]="step==1">
      <ng-template matStepLabel>Imágen Previa</ng-template>
      <img [src]="preview" class="preview">
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="prevStep()" [disabled]="step===0">Atrás</button>
    <button mat-button (click)="nextStep()" [disabled]="step===1">Siguiente</button>
    <button mat-button (click)="save()" [disabled]="step===0" color="blue-unam">Usar imagen</button>
    <button mat-button (click)="close()" color="warning">Cancelar</button>
</mat-dialog-actions>