<section class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-4 mb-2">
      <a [routerLink]="['/eventos/ofrendas']">
        <mat-card>
          <mat-card-title>
            <fa-icon name="skull" size="40px"></fa-icon> Ofrendas
          </mat-card-title>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 mb-2">
      <a [routerLink]="['/eventos/conciertos']">
        <mat-card>
          <mat-card-title>
            <acfa-icon name="projector" size="40px"></acfa-icon> Conciertos
          </mat-card-title>
        </mat-card>
      </a>
    </div>
  </div>
</section>