<section class="container-fluid">
  <h1>{{event.title}}</h1>
  <img [src]="storageUrl + 'img/events/' + event.image">
  <p>{{event.description}}</p>
  <h2>Ofrendas</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let offering of event.offerings">
      {{offering.title}}
    </div>
  </div>
</section>