<section class="container-fluid">
  <h2>Talleres</h2>
  <a class="float-right mb-3" mat-fab [routerLink]="['/admin/talleres/nuevo']" color="primary">
    <fa-icon name="plus"></fa-icon>
  </a>
  <div class="clearfix"></div>
  <div class="overflow-x-auto">
    <table mat-table [dataSource]="workshops" class="w-100">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let workshop"> {{workshop.name}} </td>
      </ng-container>

      <ng-container matColumnDef="objective">
        <th mat-header-cell *matHeaderCellDef> Objetivos </th>
        <td mat-cell *matCellDef="let workshop"> {{workshop.objective}} </td>
      </ng-container>

      <ng-container matColumnDef="requirement">
        <th mat-header-cell *matHeaderCellDef> Requerimientos </th>
        <td mat-cell *matCellDef="let workshop"> {{workshop.requirement}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let workshop">
          <a mat-icon-button class="anchor-action" color="primary" [routerLink]="['/admin/talleres/editar/' + workshop.slug]">
            <fa-icon name="edit" size="30px"></fa-icon>
          </a>
          <button mat-icon-button class="anchor-action" (click)="delete(workshop)" *ngIf="!workshop.deleted_at">
            <fa-icon name="trash" color="danger" size="30px"></fa-icon>
          </button>
          <button mat-icon-button class="anchor-action" (click)="restore(workshop)" *ngIf="workshop.deleted_at">
            <fa-icon name="trash-restore" color="success" size="30px"></fa-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['name', 'objective', 'requirement','actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'objective', 'requirement','actions'];"></tr>
    </table>
    <mat-paginator #paginator itemsPerPageLabel="Registros por página" [length]="totalRegisters"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onChangeEvent($event)">
    </mat-paginator>
  </div>
</section>