<section class="container-fluid">
  <h2>Editar taller por periodo</h2>
  <div class="row mt-3 mb-5 justify-content-md-center">
    <div class="col-md-8">
      <form [formGroup]="editFormGroup" (ngSubmit)="edit()">
        <!--Register form-->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-select formControlName="workshop" placeholder="Taller" required>
                <mat-option *ngFor="let workshop of workshops" [value]="workshop.id">
                  {{workshop.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="editFormGroup.get('workshop').hasError('required')">Se requiere nombre</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-select formControlName="teacher" placeholder="Profesor" required>
                <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">
                  {{teacher.name}} {{teacher.lastname}} {{teacher.surname}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="editFormGroup.get('teacher').hasError('required')">Se requiere profesor</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <mat-select formControlName="classroom" placeholder="Salón" required>
                <mat-option *ngFor="let classroom of classrooms" [value]="classroom.id">
                  {{classroom.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="editFormGroup.get('classroom').hasError('required')">Se requiere salón</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input mask="0*" matInput formControlName="quota" placeholder="Cupo" required>
              <mat-error *ngIf="editFormGroup.get('quota').hasError('required')">Se requiere cupo</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput formControlName="group" placeholder="Grupo" required>
              <mat-error *ngIf="editFormGroup.get('group').hasError('required')">Se requiere grupo</mat-error>
              <mat-error *ngIf="editFormGroup.get('group').hasError('pattern')">Sólo se aceptan
                caracteres alfanuméricos</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <textarea matInput formControlName="notes" placeholder="Notas"></textarea>
              <mat-error *ngIf="editFormGroup.get('notes').hasError('pattern')">Sólo se aceptan
                caracteres alfanuméricos</mat-error>
            </mat-form-field>
          </div>
        </div>
        <h4>Elige el horario</h4>
        <ng-container formArrayName="schedules">
          <div *ngFor="let dayl of days; let i = index" class="row">
            <ng-container [formArrayName]="i">
              <div class="col-md-4">
                <mat-form-field class="no-underline">
                  <input matInput style="display: none">
                  <mat-checkbox formControlName="day">
                    {{dayl}}
                  </mat-checkbox>
                </mat-form-field>
              </div>
              <div class="col-md-4" *ngIf="editFormGroup.get('schedules').value[i].day">
                <mat-form-field>
                    <input matInput placeholder="Hora de inicio(hh:mm)" mask="Hh:m0" formControlName="start">
                </mat-form-field>
              </div>
              <div class="col-md-4" *ngIf="editFormGroup.get('schedules').value[i].day">
                <mat-form-field>
                    <input matInput placeholder="Hora de término(hh:mm)" mask="Hh:m0" formControlName="finish">
                </mat-form-field>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <h4>Elige los estudiantes que se pueden inscribir al taller</h4>
        <ng-container formArrayName="students">
          <div *ngFor="let student of roleStudents; let i = index" class="row">
            <ng-container [formArrayName]="i">
              <div class="col-md-4">
                <mat-form-field class="no-underline">
                  <input matInput style="display: none">
                  <mat-checkbox formControlName="student">
                    {{student.name}}
                  </mat-checkbox>
                </mat-form-field>
              </div>
              <div class="col-md-4" *ngIf="editFormGroup.get('students').value[i].student">
                <mat-form-field matTooltip="Precio que tendrá que pagar el tipo de alumno '{{student.name}}'. Si se queda vacío el precio será 0">
                  <input matInput formControlName="price" placeholder="Costo">
                </mat-form-field>
              </div>
              <div class="col-md-4" *ngIf="editFormGroup.get('students').value[i].student">
                <mat-form-field matTooltip="Es el número límite del tipo de alumno '{{student.name}}' que se pueden inscribir al taller. Si no hay límite se deja vacío o con un -1.">
                  <input matInput formControlName="limit" placeholder="Límite de alumnos">
                </mat-form-field>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <h4>Elige la(s) facultad(es) que pueden participar</h4>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="no-underline">
              <input matInput style="display: none">
              <mat-checkbox formControlName="all_campus">
                Todas las facultades
              </mat-checkbox>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="editFormGroup.get('all_campus').value===false">
          <ng-container formArrayName="campus">
            <div *ngFor="let camp of campus; let i = index" class="col-md-6">
              <mat-form-field class="no-underline" [formArrayName]="i">
                <input matInput style="display: none">
                <mat-checkbox formControlName="camp">
                  {{camp.name}}
                </mat-checkbox>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <a mat-button [routerLink]="['/admin/talleres-periodo/' + period_id]" color="warn">Cancelar</a>
            <button mat-button type="submit" class="float-right" [disabled]="editFormGroup.invalid" color="blue-unam">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>