<h2 mat-dialog-title> ¿Inscribes el taller como opción de titulación?</h2>
<mat-dialog-actions align="end">
    <button mat-button (click)="close(false)">No</button>
    <button mat-button (click)="close(true)">Si</button>
</mat-dialog-actions>