<section class="container-fluid">
    <h2>Nuevo Taller</h2>
    <div class="row mt-3 mb-5 justify-content-md-center">
        <div class="col-md-8">
            <form [formGroup]="createFormGroup" (ngSubmit)="add()">
                <!--Register form-->
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <input matInput formControlName="name" placeholder="Nombre" required>
                            <mat-error *ngIf="createFormGroup.get('name').hasError('required')">Se requiere nombre</mat-error>
                            <mat-error *ngIf="createFormGroup.get('name').hasError('unique')">Ya existe un taller con
                                ese nombre</mat-error>

                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <textarea matInput formControlName="objective" placeholder="Objetivos"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <textarea matInput formControlName="requirement" placeholder="Requerimientos"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <textarea matInput formControlName="information" placeholder="Información"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="no-underline">
                            <input matInput style="display: none">
                            <mat-checkbox formControlName="one_more_time">
                                ¿Los alumnos se pueden inscribir al mismo taller en diferentes horarios?
                            </mat-checkbox>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" matTooltip="La resolución debe ser de 600x461 pixeles">
                        <label for="image" class="mb-3 d-block">Imagen de Portada</label>
                        <input type="file" id="image" name="photo" formControlName="image" ng2FileSelect
                            [uploader]="uploader" />
                        <mat-progress-bar *ngFor="let item of uploader.queue" mode="determinate" [value]="item.progress"></mat-progress-bar>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <a mat-button [routerLink]="['/admin/talleres/']" color="warn">Cancelar</a>
                        <button mat-button type="submit" class="float-right" [disabled]="createFormGroup.invalid" color="blue-unam">Crear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>