<section class="container-fluid">
  <h2>Salones / Auditorios</h2>
  <div class="row">
    <div class="col-md-6">
      <p>Registros Totales: {{totalRegisters}}</p>
    </div>
    <div class="col-md-6">
      <a class="float-right mb-3" mat-fab [routerLink]="['/admin/salones/nuevo']" color="primary">
        <fa-icon name="plus"></fa-icon>
      </a>
    </div>
  </div>
  
  <div class="clearfix"></div>
  <div class="overflow-x-auto">
    <table mat-table [dataSource]="classrooms" class="w-100">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let classroom"> {{classroom.name}} </td>
      </ng-container>
      <ng-container matColumnDef="quota">
        <th mat-header-cell *matHeaderCellDef> Cupo </th>
        <td mat-cell *matCellDef="let classroom"> {{classroom.quota}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let classroom">
          <a [routerLink]="['/admin/salones/editar/' + classroom.id]">
            <fa-icon name="edit" size="30px"></fa-icon>
          </a>
          <button class="border-0 p-0 m-2" (click)="delete(classroom)" *ngIf="!classroom.deleted_at">
            <fa-icon name="trash" color="danger" size="30px"></fa-icon>
          </button>
          <button class="border-0 p-0 m-2" (click)="restore(classroom)" *ngIf="classroom.deleted_at">
            <fa-icon name="trash-restore" color="success" size="30px"></fa-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['name','quota','actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name','quota','actions'];"></tr>
    </table>
    <mat-paginator #paginator itemsPerPageLabel="Registros por página" [length]="totalRegisters"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onChangeEvent($event)">
    </mat-paginator>
  </div>
</section>