<h2 mat-dialog-title>{{requirement.name}}</h2>
<mat-dialog-content class="text-center">
  <mat-spinner *ngIf="loadSpinner==1"></mat-spinner>
  <fa-icon name="check-circle" size="80px" *ngIf="loadSpinner==2" color="success"></fa-icon>
  <label *ngIf="loadSpinner==2">El archivo se subio correctamente</label>
  <form *ngIf="loadSpinner!=2">
    <div class="col-md-12">
        <input type="file" id="image" name="filereq" ng2FileSelect
            [uploader]="uploader"/>
        <mat-progress-bar *ngFor="let item of uploader.queue" mode="determinate" [value]="item.progress"></mat-progress-bar>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()" [disabled]="loadSpinner==1" *ngIf="loadSpinner!=2">Cancelar</button>
</mat-dialog-actions>