<h2 mat-dialog-title>Selecciona un nuevo taller</h2>
<mat-dialog-content>
  <mat-nav-list *ngIf="!loadSpinner">
    <a mat-list-item (click)="select(workshopPeriod)" *ngFor="let workshopPeriod of workshopPeriods">
      <span mat-line *ngIf="workshopPeriod.workshop">{{workshopPeriod.workshop.name}}: {{workshopPeriod.group}}</span>
      <span mat-line>{{workshopPeriod.notes}}</span>
    </a>
  </mat-nav-list>
  <mat-spinner *ngIf="loadSpinner"></mat-spinner>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <strong>{{workshopPeriod.workshop.name}}: {{workshopPeriod.group}} {{workshopPeriod.notes}}</strong>
    <button mat-button (click)="close()">Cancelar</button>
    <button mat-button (click)="change()" [disabled]="!workshopPeriod.id">Cambiar</button>
</mat-dialog-actions>