<section class="container-fluid">
  <a class="float-right mb-3" mat-fab [routerLink]="['/admin/usuarios/nuevo']" color="primary">
    <fa-icon name="plus"></fa-icon>
  </a>
  <a class="float-right mb-3 mr-2" mat-fab [routerLink]="['/admin/usuarios/exportar']" color="success">
    <fa-icon name="file-excel"></fa-icon>
  </a>
  <h2 class="h2-secondary">Usuarios</h2>
  <form [formGroup]="searchFormGroup" (ngSubmit)="search()">
    <!--Register form-->
    <div class="row">
      <div class="col-md-3">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Nombre">
          <mat-error *ngIf="searchFormGroup.get('name').hasError('pattern')">Sólo se aceptan
            caracteres alfabéticos</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email">
          <mat-error *ngIf="searchFormGroup.get('email').hasError('email')">Ingresa un email
            válido</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input mask="0*" matInput formControlName="numberId" placeholder="Número de cuenta / Número de trabajador">
        </mat-form-field>
      </div>
      <div class="col-md-3 mt-3">
        <button mat-stroked-button type="submit" class="w-100" [disabled]="searchFormGroup.invalid"
          color="blue-unam">Buscar</button>
      </div>
    </div>
  </form>
</section>
<section class="container-fluid overflow-x-auto">
  <h3>Alumnos</h3>
  <div class="clearfix"></div>
  <div class="overflow-x-auto">
    <table mat-table [dataSource]="users" class="w-100">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
        <td mat-cell *matCellDef="let user"> {{user.lastname}} </td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
        <td mat-cell *matCellDef="let user"> {{user.surname}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <ng-container matColumnDef="number_id">
        <th mat-header-cell *matHeaderCellDef> No. CTA./ No. trabajador </th>
        <td mat-cell *matCellDef="let user"> {{user.number_id}} </td>
      </ng-container>

      <ng-container matColumnDef="user_type">
        <th mat-header-cell *matHeaderCellDef> Tipo de usuario </th>
        <td mat-cell *matCellDef="let user">
          <ul>
            <li *ngFor="let role of user.roles">{{role.name}}</li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let user">
          <a mat-icon-button color="primary" class="anchor-action"
            [routerLink]="['/admin/usuarios/talleres/' + user.id]"
            *ngIf="user.student_type!='admin'&&user.student_type!='teacher'">
            <acfa-icon name="projector" size="30px"></acfa-icon>
          </a>
          <a mat-icon-button color="primary" class="anchor-action" [routerLink]="['/admin/usuarios/editar/' + user.id]">
            <fa-icon name="edit" size="30px"></fa-icon>
          </a>
          <button mat-icon-button color="primary" class="anchor-action" (click)="changePassword(user)">
            <fa-icon name="key" size="30px"></fa-icon>
          </button>
          <button mat-icon-button color="primary" class="anchor-action" (click)="delete(user)" *ngIf="!user.deleted_at">
            <fa-icon name="trash" color="danger" size="30px"></fa-icon>
          </button>
          <button class="border-0 p-0 m-2" (click)="restore(user)" *ngIf="user.deleted_at">
            <fa-icon name="trash-restore" color="success" size="30px"></fa-icon>
          </button>
          <button mat-icon-button color="primary" class="anchor-action" (click)="verify(user)"
            *ngIf="user.is_verified==0">
            <fa-icon name="check" size="30px"></fa-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row
        *matHeaderRowDef="['name', 'lastname', 'surname', 'email', 'number_id', 'user_type', 'actions']"></tr>
      <tr mat-row
        *matRowDef="let row; columns: ['name', 'lastname', 'surname' , 'email', 'number_id', 'user_type', 'actions'];">
      </tr>
    </table>
    <mat-paginator itemsPerPageLabel="Registros por página" [length]="totalRegisters"
          [pageSize]="pageSize"
          [pageSizeOptions]="[5, 10, 25, 100]"
          [pageIndex]="pageIndex"
          (page)="onChangeEvent($event)">
    </mat-paginator>
  </div>
</section>