<section class="container-fluid">
  <h2>Ofrendas de {{event.title}}</h2>
  <a class="float-right mb-3" mat-fab [routerLink]="['/admin/ofrendas/nuevo/' + event.id]" color="primary">
    <fa-icon name="plus"></fa-icon>
  </a>
  <div class="clearfix"></div>
  <div class="overflow-x-auto">
    <table mat-table [dataSource]="offerings" class="w-100">
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Portada </th>
        <td mat-cell *matCellDef="let offering"> <img width="100px" [src]="storageUrl + 'img/ofrendas/' + event.id + '/' + offering.image"></td>
      </ng-container>
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> Número </th>
        <td mat-cell *matCellDef="let offering"> {{offering.number}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let offering"> {{offering.title}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción</th>
        <td mat-cell *matCellDef="let offering"> {{offering.description}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let offering">
          <a class="border-0 p-0 m-2" matTooltip="Editar ofrenda" [routerLink]="['/admin/ofrendas/editar/' + offering.id]">
            <fa-icon name="edit" size="30px"></fa-icon>
          </a>
          <button class="border-0 p-0 m-2" matTooltip="Borrar evento" (click)="delete(offering)">
            <fa-icon name="trash" size="30px"></fa-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['image','number','title', 'description','actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['image','number','title', 'description','actions'];"></tr>
    </table>
  </div>
</section>