<section class="container-fluid">
  <h2>Sliders</h2>
  <div class="row">
    <div class="col-md-6">
      <p>Registros Totales: {{totalRegisters}}</p>
    </div>
    <div class="col-md-6">
      <a class="float-right mb-3" mat-fab [routerLink]="['/admin/sliders/nuevo']" color="primary">
        <fa-icon name="plus"></fa-icon>
      </a>
    </div>
  </div>
  
  <div class="clearfix"></div>
  <div class="overflow-x-auto">
    <table mat-table [dataSource]="sliders" class="w-100">
      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef> Orden </th>
        <td mat-cell *matCellDef="let slider"> {{slider.order}} </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let slider"> {{slider.title}} </td>
      </ng-container>
      <ng-container matColumnDef="img_desktop">
        <th mat-header-cell *matHeaderCellDef> Imágen Escritorio </th>
        <td mat-cell *matCellDef="let slider"> <img [src]="slider.img_desktop_url" width="100px">
        </td>
      </ng-container>
      <ng-container matColumnDef="img_mobile">
        <th mat-header-cell *matHeaderCellDef> Imágen Movil </th>
        <td mat-cell *matCellDef="let slider"> <img [src]="slider.img_mobile_url" width="100px">
        </td>
      </ng-container>
      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef> Link </th>
        <td mat-cell *matCellDef="let slider"> {{slider.link}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let slider">
          <a class="border-0 p-0 m-2" matTooltip="Editar slider" [routerLink]="['/admin/sliders/editar/' + slider.id]">
            <fa-icon name="edit" size="30px"></fa-icon>
          </a>
          <button class="border-0 p-0 m-2" matTooltip="Borrar slider" (click)="delete(slider)" *ngIf="!slider.deleted_at">
            <fa-icon name="trash" color="danger" size="30px"></fa-icon>
          </button>
          <button class="border-0 p-0 m-2" (click)="restore(slider)" *ngIf="slider.deleted_at">
            <fa-icon name="trash-restore" color="success" size="30px"></fa-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['order','title', 'img_desktop', 'img_mobile','link','actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['order','title', 'img_desktop', 'img_mobile','link','actions'];"></tr>
    </table>
    <mat-paginator #paginator itemsPerPageLabel="Registros por página" [length]="totalRegisters"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onChangeEvent($event)">
    </mat-paginator>
  </div>
</section>