<section class="container-fluid">
  <h2 class="h2-secondary">Nuevo Usuario de la Plataforma</h2>
  <form [formGroup]="createFormGroup" (ngSubmit)="add()">
    <!--Register form-->
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Nombre" required>
          <mat-error *ngIf="createFormGroup.get('name').hasError('required')">Se requiere
            nombre</mat-error>
          <mat-error *ngIf="createFormGroup.get('name').hasError('pattern')">Sólo se aceptan
            caracteres alfabéticos</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName="lastname" placeholder="Primer Apellido" required>
          <mat-error *ngIf="createFormGroup.get('lastname').hasError('required')">Se requiere
            primer apellido</mat-error>
          <mat-error *ngIf="createFormGroup.get('lastname').hasError('pattern')">Sólo se
            aceptan
            caracteres alfabéticos</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName="surname" placeholder="Segundo Apellido">
          <mat-error *ngIf="createFormGroup.get('surname').hasError('pattern')">Sólo se aceptan
            caracteres alfabéticos</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Tipo de Usuario" formControlName="role" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let role of roles" [value]="role.slug">
              {{role.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="createFormGroup.get('role').hasError('required')">Selecciona
            un
            tipo de usuario</mat-error>
        </mat-form-field>
      </div>
      <div [ngClass]="{'col-md-6': createFormGroup.get('gender').value=='' || createFormGroup.get('gender').value=='Masculino' || createFormGroup.get('gender').value=='Femenino', 'col-md-3': createFormGroup.get('gender').value=='Otro'}">
        <mat-form-field>
            <mat-select placeholder="Género" formControlName="gender" required>
                <mat-option value="">--</mat-option>
                <mat-option *ngFor="let gend of genders" [value]="gend.name">
                    {{gend.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="createFormGroup.get('gender').hasError('required')">Se requiere
            Género</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3" *ngIf="createFormGroup.get('gender').value=='Otro'">
        <mat-form-field>
            <input matInput formControlName="genderOther" placeholder="Especificar Género">
            <mat-error *ngIf="createFormGroup.get('genderOther').hasError('pattern')">Sólo se aceptan
            caracteres alfabéticos</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email" required>
          <fa-icon matSuffix name="user" *ngIf="createFormGroup.get('email').status!='PENDING'"></fa-icon>
          <fa-icon name="spinner" animate="true" matSuffix *ngIf="createFormGroup.get('email').status=='PENDING'"></fa-icon>
          <mat-error *ngIf="createFormGroup.get('email').hasError('required')">Se requiere
            email</mat-error>
          <mat-error *ngIf="createFormGroup.get('email').hasError('email')">Ingresa un email
            válido</mat-error>
          <mat-error *ngIf="createFormGroup.get('email').hasError('unique')">El email ya
            existe.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input mask="(00) 0000 0000" matInput formControlName="phone" placeholder="Teléfono Fijo">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input mask="(00) 0000 0000" type="text" matInput formControlName="celphone" placeholder="Celular" required>
          <mat-error *ngIf="createFormGroup.get('celphone').hasError('required')">Ingresa
            un
            número celular</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">Contraseña del usuario: {{createFormGroup.get('name').value | genpass}}</div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-3">
        <button mat-button type="submit" class="float-right" [disabled]="createFormGroup.invalid" color="blue-unam">Crear</button>
      </div>
    </div>
  </form>
</section>