<section class="container-fluid">
  <h2>Convocatoria de Talento Aragones</h2>
  <div class="row">
    <div class="col-md-12">
      <img class="d-block mx-auto" width="800px" src="//132.248.173.153/actividades_culturales_assets/public/talento.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <a mat-button color="warn" [routerLink]="['/talento-aragones']">Formato de
        Inscripción</a>
    </div>
  </div>
</section>