<section class="container-fluid">
  <h2>Reportes</h2>
  <mat-tab-group>
    <mat-tab label="Uno">
      <div class="container">
        <h3>Conteo de Alumnos</h3>
        <p>Selecciona los parametros del reporte</p>
        <form [formGroup]="oneFormGroup" (ngSubmit)="generateOne()">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-select placeholder="Tipo de Alumno" formControlName="student" required>
                  <mat-option [value]="0">Ambos</mat-option>
                  <mat-option *ngFor="let student of students" [value]="student.id">
                    {{student.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="oneFormGroup.get('career').hasError('required')">Selecciona
                  un tipo de alumno</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <mat-select placeholder="Carrera" formControlName="career" required>
                  <mat-option [value]="0">Todas</mat-option>
                  <mat-option *ngFor="let career of careers" [value]="career.id">
                    {{career.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="oneFormGroup.get('career').hasError('required')">Selecciona
                  una
                  carrera</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-select placeholder="Periodo" formControlName="period" required>
                  <mat-option>Selecciona una opción</mat-option>
                  <mat-option *ngFor="let period of periods" [value]="period.id">
                    {{period.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="oneFormGroup.get('period').hasError('required')">Selecciona
                  un
                  Periodo</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <mat-select placeholder="Alumnos Completos" formControlName="complete" required>
                  <mat-option>Selecciona una opción</mat-option>
                  <mat-option *ngFor="let s of studentsComplete" [value]="s.slug">
                    {{s.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="oneFormGroup.get('complete').hasError('required')">Selecciona si es con alumnos
                  completos</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-select placeholder="Tipo de archivo" formControlName="typeFile" required>
                  <mat-option>Selecciona una opción</mat-option>
                  <mat-option *ngFor="let file of formatFiles" [value]="file.slug">
                    {{file.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="oneFormGroup.get('typeFile').hasError('required')">Selecciona el tipo de archivo
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
              <button mat-button type="submit" class="float-right" [disabled]="oneFormGroup.invalid || disableBtn"
                color="blue-unam">Generar</button>
              <fa-icon name="spinner" class="p-2 float-right" animate="true" matSuffix *ngIf="disableBtn"></fa-icon>
            </div>
          </div>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Dos">
      <div class="container">
        <h3>Pagos</h3>
        <p>Selecciona los parametros del reporte</p>
        <form [formGroup]="twoFormGroup" (ngSubmit)="generateTwo()">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <mat-select placeholder="Periodo" formControlName="period" (selectionChange)="changePeriod()" required>
                  <mat-option>Selecciona una opción</mat-option>
                  <mat-option *ngFor="let period of periods" [value]="period.id">
                    {{period.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="twoFormGroup.get('period').hasError('required')">Selecciona
                  un
                  Periodo</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput [matDatepicker]="pickerStart" placeholder="Inicio del periodo" formControlName="start"
                  [min]="dateStart" [max]="dateFinish">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
                <mat-error *ngIf="twoFormGroup.get('start').hasError('required')">Se requiere fecha de
                  inicio del periodo</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput [matDatepicker]="pickerFinish" placeholder="Fin del periodo" formControlName="finish"
                  [min]="dateStart" [max]="dateFinish">
                <mat-datepicker-toggle matSuffix [for]="pickerFinish"></mat-datepicker-toggle>
                <mat-datepicker #pickerFinish></mat-datepicker>
                <mat-error *ngIf="twoFormGroup.get('finish').hasError('required')">Se requiere fecha de
                  fin del periodo</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-select placeholder="Tipo de archivo" formControlName="typeFile" required>
                  <mat-option>Selecciona una opción</mat-option>
                  <mat-option *ngFor="let file of formatFiles" [value]="file.slug">
                    {{file.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="twoFormGroup.get('typeFile').hasError('required')">Selecciona el tipo de archivo
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
              <button mat-button type="submit" class="float-right" [disabled]="twoFormGroup.invalid || disableBtn"
                color="blue-unam">Generar</button>
              <fa-icon name="spinner" class="p-2 float-right" animate="true" matSuffix *ngIf="disableBtn"></fa-icon>
            </div>
          </div>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Tres">
      <div class="container">
        <h3>Pagos</h3>
        <p>Selecciona los parametros del reporte</p>
        <form [formGroup]="threeFormGroup" (ngSubmit)="generateThree()">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <mat-select placeholder="Periodo" formControlName="period" (selectionChange)="changePeriodThree()"
                  required>
                  <mat-option>Selecciona una opción</mat-option>
                  <mat-option *ngFor="let period of periods" [value]="period.id">
                    {{period.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="threeFormGroup.get('period').hasError('required')">Selecciona
                  un
                  Periodo</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput [matDatepicker]="pickerStartThree" placeholder="Inicio del periodo"
                  formControlName="start" [min]="dateStart" [max]="dateFinish">
                <mat-datepicker-toggle matSuffix [for]="pickerStartThree"></mat-datepicker-toggle>
                <mat-datepicker #pickerStartThree></mat-datepicker>
                <mat-error *ngIf="threeFormGroup.get('start').hasError('required')">Se requiere fecha de
                  inicio del periodo</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput [matDatepicker]="pickerFinishThree" placeholder="Inicio del periodo"
                  formControlName="finish" [min]="dateStart" [max]="dateFinish">
                <mat-datepicker-toggle matSuffix [for]="pickerFinishThree"></mat-datepicker-toggle>
                <mat-datepicker #pickerFinishThree></mat-datepicker>
                <mat-error *ngIf="threeFormGroup.get('finish').hasError('required')">Se requiere fecha de
                  fin del periodo</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-select placeholder="Tipo de archivo" formControlName="typeFile" required>
                  <mat-option>Selecciona una opción</mat-option>
                  <mat-option *ngFor="let file of formatFiles" [value]="file.slug">
                    {{file.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="threeFormGroup.get('typeFile').hasError('required')">Selecciona el tipo de archivo
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
              <button mat-button type="submit" class="float-right" [disabled]="threeFormGroup.invalid || disableBtn"
                color="blue-unam">Generar</button>
              <fa-icon name="spinner" class="p-2 float-right" animate="true" matSuffix *ngIf="disableBtn"></fa-icon>
            </div>
          </div>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>