<section class="container-fluid">
  <h2 class="h2-secondary">Cambiar Contraseña</h2>
  <form [formGroup]="passFormGroup" (ngSubmit)="updatePass()">
    <!--Register form-->
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="md-form">
          <mat-form-field>
            <input matInput type="password" placeholder="Contraseña Actual" formControlName="currentPassword" required>
            <i class="fas fa-key" matSuffix></i>
            <mat-error *ngIf="passFormGroup.get('currentPassword').hasError('required')">Contraseña actual requerida</mat-error>
          </mat-form-field>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="md-form">
          <mat-form-field>
            <input matInput type="password" placeholder="Contraseña" formControlName="password" required>
            <i class="fas fa-key" matSuffix></i>
            <mat-error *ngIf="passFormGroup.get('password').hasError('passwordMatch')">Las
              contraseñas no coinciden</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="md-form">
          <mat-form-field>
            <input matInput type="password" placeholder="Confirma Contraseña" formControlName="confirmPassword"
              required>
            <i class="fas fa-key" matSuffix></i>
            <mat-error *ngIf="passFormGroup.get('confirmPassword').hasError('passwordMatch')">Las
              contraseñas no coinciden</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 mb-3">
        <button mat-button type="submit" class="float-right" [disabled]="passFormGroup.invalid" color="blue-unam">Cambiar</button>
      </div>
    </div>
  </form>
</section>