<section class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-12 text-center pt-5">
      <fa-icon name="smile" size="48px" color="blue-unam"></fa-icon>
      <p class="pt-3">
        Gracias por registrarte, el siguiente paso es <strong> VERIFICAR </strong> tu cuenta a través de un <strong>correo que se envió</strong> a la dirección ingresada.
      </p>
    </div>
  </div>
</section>