<section class="container-fluid">
    <h2>Editar evento de {{concert.title}}</h2>
    <div class="row mt-3 mb-5 justify-content-md-center">
        <div class="col-md-8">
            <form [formGroup]="editFormGroup" (ngSubmit)="edit()">
                <!--Register form-->
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <input matInput formControlName="title" placeholder="Título" required>
                            <mat-error *ngIf="editFormGroup.get('title').hasError('required')">Se requiere título
                            </mat-error>
                            <mat-error *ngIf="editFormGroup.get('title').hasError('unique')">Ya existe un evento con
                                ese nombre</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-select formControlName="classroom" placeholder="Lugar" required>
                                <mat-option *ngFor="let classroom of classrooms" [value]="classroom.id">
                                    {{classroom.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="editFormGroup.get('classroom').hasError('required')">Se requiere Lugar
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput formControlName="quota" placeholder="Cupo" required>
                            <mat-error *ngIf="editFormGroup.get('quota').hasError('required')">Se requiere cupo
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-8">
                        <mat-form-field>
                            <input matInput [matDatepicker]="pickerStartInscription"
                                placeholder="Inicio de la inscripción" formControlName="inscription_start">
                            <mat-datepicker-toggle matSuffix [for]="pickerStartInscription"></mat-datepicker-toggle>
                            <mat-datepicker #pickerStartInscription></mat-datepicker>
                            <mat-error *ngIf="editFormGroup.get('inscription_start').hasError('required')">Se requiere
                                fecha de inicio de inscripción</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 col-4">
                        <mat-form-field>
                            <input matInput placeholder="hh:mm" mask="Hh:m0" formControlName="inscription_start_hour">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-8">
                        <mat-form-field>
                            <input matInput [matDatepicker]="pickerFinishInscription"
                                placeholder="Fin de la inscripción" formControlName="inscription_finish">
                            <mat-datepicker-toggle matSuffix [for]="pickerFinishInscription"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFinishInscription></mat-datepicker>
                            <mat-error *ngIf="editFormGroup.get('inscription_finish').hasError('required')">Se requiere
                                fecha de fin de inscripción</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 col-4">
                        <mat-form-field>
                            <input matInput placeholder="hh:mm" mask="Hh:m0" formControlName="inscription_finish_hour">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <textarea matInput formControlName="description" placeholder="Descripción"></textarea>
                            <mat-error *ngIf="editFormGroup.get('description').hasError('required')">Se requiere
                                descripción</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" matTooltip="La resolución debe ser de 1200x600 pixeles">
                        <label for="image" class="mb-3 d-block">Imagen de portada</label>
                        <input type="file" id="image" name="image" formControlName="image" ng2FileSelect
                            [uploader]="uploader" />
                        <mat-progress-bar *ngFor="let item of uploader.queue" mode="determinate"
                            [value]="item.progress"></mat-progress-bar>
                    </div>
                    <div class="col-md-4" matTooltip="La resolución debe ser de 600x300 pixeles">
                        <label for="thumbnail" class="mb-3 d-block">Thumbnail</label>
                        <input type="file" id="thumbnail" name="thumbnail" formControlName="thumbnail" ng2FileSelect
                            [uploader]="uploaderThumbnail" />
                        <mat-progress-bar *ngFor="let item of uploaderThumbnail.queue" mode="determinate"
                            [value]="item.progress"></mat-progress-bar>
                    </div>
                    <div class="col-md-4" matTooltip="La resolución debe ser de 550x1000 pixeles">
                        <label for="ticketimage" class="mb-3 d-block">Ticket/Boleto</label>
                        <input type="file" id="ticketimage" name="ticketimage" formControlName="ticketimage" ng2FileSelect
                            [uploader]="uploaderTicket" />
                        <mat-progress-bar *ngFor="let item of uploaderTicket.queue" mode="determinate"
                            [value]="item.progress"></mat-progress-bar>
                    </div>
                </div>
                <h4 class="mt-5">Presentaciones</h4>
                <ng-container formArrayName="showings">
                    <div *ngFor="let showing of editFormGroup.get('showings')['controls']; let i = index" class="row">
                        <ng-container [formArrayName]="i">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="pickerStart"
                                        placeholder="Inicio" formControlName="start">
                                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerStart></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field>
                                    <input matInput placeholder="hh:mm" mask="Hh:m0" formControlName="start_hour">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="pickerFinish"
                                        placeholder="Fin" formControlName="finish">
                                    <mat-datepicker-toggle matSuffix [for]="pickerFinish"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerFinish></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field>
                                    <input matInput placeholder="hh:mm" mask="Hh:m0" formControlName="finish_hour">
                                </mat-form-field>
                            </div>
                            <div class="col-md-1 text-center mt-2">
                                <button type="button" *ngIf="i !== 0" mat-mini-fab color="warn"
                                    (click)="deleteShowing(i)">-</button>
                            </div>
                            <div class="col-md-1 text-center mt-2">
                                <button type="button" *ngIf="i === editFormGroup.get('showings').controls.length - 1"
                                    mat-mini-fab color="primary" (click)="addShowing()">+</button>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <h4>Elige los estudiantes que pueden asistir</h4>
                <ng-container formArrayName="students">
                    <div *ngFor="let student of roleStudents; let i = index" class="row">
                        <ng-container [formArrayName]="i">
                            <div class="col-md-4">
                                <mat-form-field class="no-underline">
                                    <input matInput style="display: none">
                                    <mat-checkbox formControlName="student">
                                        {{student.name}}
                                    </mat-checkbox>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4" *ngIf="editFormGroup.get('students').value[i].student">
                                <mat-form-field
                                    matTooltip="Precio que tendrá que pagar el tipo de alumno '{{student.name}}'. Si se queda vacío el precio será 0">
                                    <input matInput formControlName="price" placeholder="Costo">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4" *ngIf="editFormGroup.get('students').value[i].student">
                                <mat-form-field
                                    matTooltip="Es el número límite del tipo de alumno '{{student.name}}' que pueden asistir al evento. Si no hay límite se deja vacío o con un -1.">
                                    <input matInput formControlName="limit" placeholder="Límite de alumnos">
                                </mat-form-field>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <h4>Elige la(s) facultad(es) que pueden participar</h4>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="no-underline">
                            <input matInput style="display: none">
                            <mat-checkbox formControlName="all_campus">
                                Todas las facultades
                            </mat-checkbox>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" *ngIf="editFormGroup.get('all_campus').value===false">
                    <ng-container formArrayName="campus">
                        <div *ngFor="let camp of campus; let i = index" class="col-md-6">
                            <mat-form-field class="no-underline" [formArrayName]="i">
                                <input matInput style="display: none">
                                <mat-checkbox formControlName="camp">
                                    {{camp.name}}
                                </mat-checkbox>
                            </mat-form-field>
                        </div>
                    </ng-container>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <a mat-button [routerLink]="['/admin/eventos/']" color="warn">Cancelar</a>
                        <button mat-button type="submit" class="float-right" [disabled]="editFormGroup.invalid"
                            color="blue-unam">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>