<section class="container-fluid">
  <h2>Registro de Talento Aragonés</h2>
  <div class="row mt-3 mb-5 justify-content-md-center" *ngIf="!token">
    <div class="col-md-8">
      <form [formGroup]="createFormGroup" (ngSubmit)="add()">
        <!--Register form-->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <input matInput formControlName="name" placeholder="Nombre" required>
              <mat-error *ngIf="createFormGroup.get('name').hasError('required')">Se requiere nombre</mat-error>
              <mat-error *ngIf="createFormGroup.get('name').hasError('pattern')">Sólo se aceptan
                caracteres alfanuméricos</mat-error>
              <mat-error *ngIf="createFormGroup.get('name').hasError('unique')">Ya existe una facultad con ese nombre</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <mat-select placeholder="Carrera" formControlName="career" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let career of careers" [value]="career.id">
                  {{career.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createFormGroup.get('career').hasError('required')">Selecciona
                una
                carrera</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input mask="0*" matInput formControlName="semester" placeholder="Semestre Actual" required>
              <mat-error *ngIf="createFormGroup.get('semester').hasError('required')">Ingresa
                tu
                semestre actual</mat-error>
              <mat-error *ngIf="createFormGroup.get('semester').hasError('pattern')">Ingresa
                un
                semestre válido</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input mask="00000000-0" matInput formControlName="numberId" placeholder="Número de cuenta" required>
              <mat-error *ngIf="createFormGroup.get('numberId').hasError('required')">Se
                requiere
                Número de cuenta</mat-error>
              <mat-error *ngIf="createFormGroup.get('numberId').hasError('unique')">El número
                de cuenta ya existe. Si
                olvidaste tus datos de login acude al departamento de Actividades
                Culturales.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <input matInput formControlName="email" placeholder="Email" required>
              <mat-error *ngIf="createFormGroup.get('email').hasError('required')">Se requiere
                email</mat-error>
              <mat-error *ngIf="createFormGroup.get('email').hasError('email')">Ingresa un email
                válido</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input mask="(00) 0000 0000" type="text" matInput formControlName="celphone" placeholder="Celular"
                required>
              <mat-error *ngIf="createFormGroup.get('celphone').hasError('required')">Ingresa
                un
                número celular</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input mask="(00) 0000 0000" matInput formControlName="phone" placeholder="Teléfono Fijo">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Artes" formControlName="arts" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let art of arts" [value]="art.name">
                  {{art.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createFormGroup.get('arts').hasError('required')">Selecciona
                un arte</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput formControlName="artActivity" placeholder="Actividad Artística">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput formControlName="band" placeholder="Nombre del grupo/solista">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput formControlName="gender" placeholder="Género">
            </mat-form-field>
          </div>
        </div>
        <h4 class="mt-5">Integrantes</h4>
        <ng-container formArrayName="members">
          <div *ngFor="let member of createFormGroup.get('members')['controls']; let i = index" class="row">
            <ng-container [formArrayName]="i">
              <div class="col-md-8">
                <mat-form-field>
                  <input matInput formControlName="member" placeholder="Integrante de la banda">
                </mat-form-field>
              </div>
              <div class="col-md-2 text-center mt-2">
                <button type="button" *ngIf="i !== 0" mat-mini-fab color="warn" (click)="deleteMember(i)">-</button>
              </div>
              <div class="col-md-2 text-center mt-2">
                <button type="button" *ngIf="i === createFormGroup.get('members').controls.length - 1" mat-mini-fab
                  color="primary" (click)="addMember()">+</button>
              </div>
            </ng-container>
          </div>
        </ng-container>

        <h3>Área Técnica</h3>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input mask="0*" matInput formControlName="duration" placeholder="Duración de la presentación (Mínimo 30 minutos y máximo 60 minutos):"
                required>
              <mat-error *ngIf="createFormGroup.get('duration').hasError('required')">Se requiere duración</mat-error>
              <mat-error *ngIf="createFormGroup.get('duration').hasError('min')">Debe ser mayor a 30</mat-error>
              <mat-error *ngIf="createFormGroup.get('duration').hasError('max')">Debe ser menor a 30</mat-error>
            </mat-form-field>
          </div>
        </div>
        <h4 class="mt-5">Lista de equipo</h4>
        <div class="alert alert-warning" role="alert">Equipo/instrumento (propiedad del participante) a utilizar en la
          presentación (Llenar solamente si eres banda):</div>
        <ng-container formArrayName="equipments">
          <div *ngFor="let equipment of createFormGroup.get('equipments')['controls']; let i = index" class="row">
            <ng-container [formArrayName]="i">
              <div class="col-md-8">
                <mat-form-field>
                  <input matInput formControlName="equipment" placeholder="Equipo/instrumento">
                </mat-form-field>
              </div>
              <div class="col-md-2 text-center mt-2">
                <button type="button" *ngIf="i !== 0" mat-mini-fab color="warn" (click)="deleteEquipment(i)">-</button>
              </div>
              <div class="col-md-2 text-center mt-2">
                <button type="button" *ngIf="i === createFormGroup.get('equipments').controls.length - 1" mat-mini-fab
                  color="primary" (click)="addEquipment()">+</button>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <h4 class="mt-5">Escenografía</h4>
        <div class="alert alert-warning" role="alert">El Departamento de Actividades Culturales no proporciona ningún
          tipo de escenografía</div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <textarea matInput formControlName="scenography" placeholder="Poner especificaciones"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput formControlName="illumination" placeholder="Iluminación">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput formControlName="audioVideo" placeholder="Audio y video">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput mask="0*" formControlName="assemblyDuration" placeholder="Duración de Montaje">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput mask="0*" formControlName="deassemblyDuration" placeholder="Duración de Desmontaje">
            </mat-form-field>
          </div>
        </div>
        <h4 class="mt-5">Consideraciones</h4>
        <div class="alert alert-info" role="alert">El Departamento de Actividades Culturales unicamente prestará microfonos para la presentación de las actividades artisticas a realizar en el teatro</div>
        <div class="alert alert-info" role="alert">Presentarse 2 horas antes de la hora indicada de su presentación</div>
        <div class="alert alert-info" role="alert">No habrá ensayos previos a la presentación</div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <button mat-button type="submit" class="float-right" [disabled]="createFormGroup.invalid" color="blue-unam">Registrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-3 mb-5 justify-content-md-center" *ngIf="token">
    <h2>Registro Exitoso</h2>
    <a mat-raised-button [href]="urlPdf + token" target="_blank" color="primary" class="full">Imprimir Comprobante</a>
  </div>
</section>