<section class="container-fluid">
  <h1>Talento</h1>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Nombre</h3></div>
    <div class="col-md-8">{{talent.name}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Carrera</h3></div>
    <div class="col-md-8">{{talent.career.name}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Semestre</h3></div>
    <div class="col-md-8">{{talent.semester}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Número de Cuenta</h3></div>
    <div class="col-md-8">{{talent.number_id}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Correo</h3></div>
    <div class="col-md-8">{{talent.email}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Teléfono Fijo</h3></div>
    <div class="col-md-8">{{talent.phone}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Teléfono Celular</h3></div>
    <div class="col-md-8">{{talent.celphone}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Arte</h3></div>
    <div class="col-md-8">{{talent.arts}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Actividad Artística</h3></div>
    <div class="col-md-8">{{talent.art_activity}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Nombre de Grupo/Solista</h3></div>
    <div class="col-md-8">{{talent.band}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Género</h3></div>
    <div class="col-md-8">{{talent.gender}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Integrantes</h3></div>
    <div class="col-md-8">{{talent.members}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Duración</h3></div>
    <div class="col-md-8">{{talent.duration}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Equipamiento</h3></div>
    <div class="col-md-8">{{talent.equipment}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Escenografía</h3></div>
    <div class="col-md-8">{{talent.scenography}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Iluminación</h3></div>
    <div class="col-md-8">{{talent.illumination}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Audio y Video</h3></div>
    <div class="col-md-8">{{talent.audio_video}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Duración de montaje</h3></div>
    <div class="col-md-8">{{talent.assembly_duration}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Duración de desmontaje</h3></div>
    <div class="col-md-8">{{talent.deassembly_duration}}</div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-3"><h3>Fecha de Registro</h3></div>
    <div class="col-md-8">{{talent.created_at | momentFormat:'DD/MM/YYYY HH:mm'}}</div>
  </div>
</section>