<section class="container-fluid">
    <h2>Nuevo Taller</h2>
    <div class="row mt-3 mb-5 justify-content-md-center">
        <div class="col-md-8">
            <form [formGroup]="createFormGroup" (ngSubmit)="add()">
                <!--Register form-->
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <input matInput formControlName="name" placeholder="Nombre" required>
                            <mat-error *ngIf="createFormGroup.get('name').hasError('required')">Se requiere nombre
                            </mat-error>
                            <mat-error *ngIf="createFormGroup.get('name').hasError('unique')">Ya existe un periodo con
                                ese nombre</mat-error>

                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput [matDatepicker]="pickerStart" placeholder="Inicio del periodo"
                                formControlName="start">
                            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                            <mat-datepicker #pickerStart></mat-datepicker>
                            <mat-error *ngIf="createFormGroup.get('start').hasError('required')">Se requiere fecha de
                                inicio del periodo</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput [matDatepicker]="pickerFinish" placeholder="Fin del periodo"
                                formControlName="finish">
                            <mat-datepicker-toggle matSuffix [for]="pickerFinish"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFinish></mat-datepicker>
                            <mat-error *ngIf="createFormGroup.get('finish').hasError('required')">Se requiere fecha de
                                fin del periodo</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-8">
                        <mat-form-field>
                            <input matInput [matDatepicker]="pickerStartInscription"
                                placeholder="Inicio de la inscripción" formControlName="startInscription">
                            <mat-datepicker-toggle matSuffix [for]="pickerStartInscription"></mat-datepicker-toggle>
                            <mat-datepicker #pickerStartInscription></mat-datepicker>
                            <mat-error *ngIf="createFormGroup.get('startInscription').hasError('required')">Se requiere
                                fecha de inicio de inscripción</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 col-4">
                        <mat-form-field>
                            <input matInput placeholder="hh:mm" mask="Hh:m0" formControlName="startInscriptionHour">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-8">
                        <mat-form-field>
                            <input matInput [matDatepicker]="pickerFinishInscription"
                                placeholder="Fin de la inscripción" formControlName="finishInscription">
                            <mat-datepicker-toggle matSuffix [for]="pickerFinishInscription"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFinishInscription></mat-datepicker>
                            <mat-error *ngIf="createFormGroup.get('finishInscription').hasError('required')">Se requiere
                                fecha de fin de inscripción</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 col-4">
                        <mat-form-field>
                            <input matInput placeholder="hh:mm" mask="Hh:m0" formControlName="finishInscriptionHour">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <a mat-button [routerLink]="['/admin/periodos/']" color="warn">Cancelar</a>
                        <button mat-button type="submit" class="float-right" [disabled]="createFormGroup.invalid"
                            color="blue-unam">Crear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>