@import '~variables.scss';
app-cropper{
    width: 70%;
    display: block;
    margin: 0 auto;
}
.preview{
    display: block;
    margin: 0 auto;
    width: 300px;
}
mat-dialog-actions{
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.btn {
    border: 2px solid $blue-unam;
    color: $blue-unam;
    background-color: $white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;

}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}