<h2 mat-dialog-title>Imágen de perfil</h2>
<mat-dialog-content>
  <mat-horizontal-stepper linear #stepper (selectionChange)="selectionChange($event)">
    <ng-template matStepperIcon="edit">
      <fa-icon name="pen"></fa-icon>
    </ng-template>
  
    <ng-template matStepperIcon="done">
      <fa-icon name="check-circle"></fa-icon>
    </ng-template>
    <mat-step [completed]="step>=1">
      <ng-template matStepLabel>Selecciona imágen</ng-template>
      <p>Para Tu fotografía asegurate de cumplir los siguientes requisitos: </p>
      <ul>
        <li *ngFor="let requirement of requirements">
          {{requirement.title}}
        </li>
      </ul>
      <form>
        <div class="col-md-12 text-center">
          <div class="upload-btn-wrapper">
            <button class="btn"><fa-icon name="upload"></fa-icon> Subir Fotografía</button>
            <input type="file" id="image" name="photo" ng2FileSelect
                [uploader]="uploader"/>
          </div>
          <mat-progress-bar *ngFor="let item of uploader.queue" mode="determinate" [value]="item.progress"></mat-progress-bar>
        </div>
      </form>
    </mat-step>
    <mat-step [completed]="step>=1">
      <ng-template matStepLabel>Recorta imágen</ng-template>
      <app-cropper [src]="image.fullpath" [widthRatio]="500" [heightRatio]="600" (getCropper)="getCropper($event)"></app-cropper>
    </mat-step>
    <mat-step [completed]="step>=2">
      <ng-template matStepLabel>Imágen Previa</ng-template>
      <img [src]="preview" class="preview" alt="Preview Photo Profile">
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="prevStep()" [disabled]="step===0">Atrás</button>
    <button mat-button (click)="nextStep()" [disabled]="step===0||step===2">Siguiente</button>
    <button mat-button (click)="save()" [disabled]="step<2" color="blue-unam">Usar imagen</button>
    <button mat-button (click)="close()" color="warning">Cancelar</button>
</mat-dialog-actions>