<section class="container-fluid">
  <h2 class="h2-secondary">Editar Usuario de la Plataforma</h2>
  <form [formGroup]="editFormGroup" (ngSubmit)="update()">
    <!--Register form-->
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Nombre" required>
          <mat-error *ngIf="editFormGroup.get('name').hasError('required')">Se requiere
            nombre</mat-error>
          <mat-error *ngIf="editFormGroup.get('name').hasError('pattern')">Sólo se aceptan
            caracteres alfabéticos</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName="lastname" placeholder="Primer Apellido" required>
          <mat-error *ngIf="editFormGroup.get('lastname').hasError('required')">Se requiere
            primer apellido</mat-error>
          <mat-error *ngIf="editFormGroup.get('lastname').hasError('pattern')">Sólo se
            aceptan
            caracteres alfabéticos</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName="surname" placeholder="Segundo Apellido">
          <mat-error *ngIf="editFormGroup.get('surname').hasError('pattern')">Sólo se aceptan
            caracteres alfabéticos</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Tipo de Usuario" formControlName="role" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let role of roles" [value]="role.slug">
              {{role.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editFormGroup.get('role').hasError('required')">Selecciona
            un
            tipo de usuario</mat-error>
        </mat-form-field>
      </div>
      <div
        [ngClass]="{'col-md-6': editFormGroup.get('gender').value=='' || editFormGroup.get('gender').value=='Masculino' || editFormGroup.get('gender').value=='Femenino', 'col-md-3': editFormGroup.get('gender').value=='Otro'}">
        <mat-form-field>
          <mat-select placeholder="Género" formControlName="gender" required>
            <mat-option value="">--</mat-option>
            <mat-option *ngFor="let gend of genders" [value]="gend.name">
              {{gend.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editFormGroup.get('gender').hasError('required')">Se requiere
            Género</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3" *ngIf="editFormGroup.get('gender').value=='Otro'">
        <mat-form-field>
          <input matInput formControlName="genderOther" placeholder="Especificar Género">
          <mat-error *ngIf="editFormGroup.get('genderOther').hasError('pattern')">Sólo se aceptan
            caracteres alfabéticos</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email" required>
          <fa-icon matSuffix name="user" *ngIf="editFormGroup.get('email').status!='PENDING'"></fa-icon>
          <fa-icon name="spinner" animate="true" matSuffix *ngIf="editFormGroup.get('email').status=='PENDING'">
          </fa-icon>
          <mat-error *ngIf="editFormGroup.get('email').hasError('required')">Se requiere
            email</mat-error>
          <mat-error *ngIf="editFormGroup.get('email').hasError('email')">Ingresa un email
            válido</mat-error>
          <mat-error *ngIf="editFormGroup.get('email').hasError('unique')">El email ya
            existe.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input mask="(00) 0000 0000" matInput formControlName="phone" placeholder="Teléfono Fijo">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input mask="(00) 0000 0000" type="text" matInput formControlName="celphone" placeholder="Celular" required>
          <mat-error *ngIf="editFormGroup.get('celphone').hasError('required')">Ingresa
            un
            número celular</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row"
      *ngIf="editFormGroup.get('role').value=='admin' || editFormGroup.get('role').value=='socialservice' ">
      <div class="col-md-6 mb-3">
        <button mat-button (click)="beforeForm()" type="button" color="blue-unam">Cancelar</button>
      </div>
      <div class="col-md-6 mb-3">
        <button mat-button type="submit" class="float-right" [disabled]="editFormGroup.invalid"
          color="blue-unam">Guardar</button>
      </div>
    </div>
  </form>
  <form [formGroup]="dataStudentForm" *ngIf="editFormGroup.get('role').value=='student'" (ngSubmit)="onSubmitStudent()">
    <!--Register form-->
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input mask="00000000-0" matInput formControlName="numberId" placeholder="Número de cuenta" required>
          <mat-error *ngIf="dataStudentForm.get('numberId').hasError('required')">Se
            requiere
            Número de cuenta</mat-error>
          <mat-error *ngIf="dataStudentForm.get('numberId').hasError('pattern')">Sólo se
            aceptan caracteres numéricos</mat-error>
          <mat-error *ngIf="dataStudentForm.get('numberId').hasError('unique')">El número
            de cuenta ya existe. Si
            olvidaste tus datos de login acude al departamento de Actividades
            Culturales.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Sistema" formControlName="system" required>
            <mat-option value="">--</mat-option>
            <mat-option *ngFor="let system of systems" [value]="system.id">
              {{system.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="dataStudentForm.get('system').hasError('required')">Se requiere
            Sistema</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Plantel" formControlName="campus" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let camp of campus" [value]="camp.id">
              {{camp.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="dataStudentForm.get('campus').hasError('required')">Selecciona
            un
            plantel</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field matTooltip="Si tu plantel es un CCH o una Preparatoria elige PREPARATORIA como opción">
          <mat-select placeholder="Carrera" formControlName="career" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let career of careers" [value]="career.id">
              {{career.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="dataStudentForm.get('career').hasError('required')">Selecciona
            una
            carrera</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input mask="0000" matInput formControlName="year" placeholder="Año de ingreso" required>
          <mat-error *ngIf="dataStudentForm.get('year').hasError('required')">Ingresa año
            de
            ingreso</mat-error>
          <mat-error *ngIf="dataStudentForm.get('year').hasError('min')">Ingresa un
            año
            válido</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input mask="0*" matInput formControlName="semester" placeholder="Semestre Actual" required>
          <mat-error *ngIf="dataStudentForm.get('semester').hasError('required')">Ingresa
            tu
            semestre actual</mat-error>
          <mat-error *ngIf="dataStudentForm.get('semester').hasError('min')">Ingresa
            un
            semestre válido</mat-error>
        </mat-form-field>
      </div>
    </div>
    <!--/Register form-->
    <div class="row">
      <div class="col-md-6 mb-3">
        <button mat-button (click)="beforeForm()" type="button" color="blue-unam">Cancelar</button>
      </div>
      <div class="col-md-6 mb-3">
        <button mat-button type="submit" class="float-right" [disabled]="dataStudentForm.invalid"
          color="blue-unam">Guardar</button>
      </div>
    </div>
  </form>
  <form [formGroup]="dataExstudentForm" *ngIf="editFormGroup.get('role').value=='exstudent'"
    (ngSubmit)="onSubmitExstudent()">
    <!--Register form-->
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <input mask="00000000-0" matInput formControlName="numberId" placeholder="Número de cuenta" required>
          <mat-error *ngIf="dataExstudentForm.get('numberId').hasError('required')">Se
            requiere
            Número de cuenta</mat-error>
          <mat-error *ngIf="dataExstudentForm.get('numberId').hasError('pattern')">Sólo
            se
            aceptan caracteres numéricos</mat-error>
          <mat-error *ngIf="dataExstudentForm.get('numberId').hasError('unique')">El
            número de cuenta ya existe. Si
            olvidaste tus datos de login acude al departamento de Actividades
            Culturales.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <input mask="0000" matInput formControlName="year" placeholder="Año de egreso" required>
          <mat-error *ngIf="dataExstudentForm.get('year').hasError('required')">Ingresa
            año de
            egreso</mat-error>
          <mat-error *ngIf="dataExstudentForm.get('year').hasError('min')">Ingresa un
            año
            válido</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-select placeholder="Sistema" formControlName="system" required>
            <mat-option value="">--</mat-option>
            <mat-option *ngFor="let system of systems" [value]="system.id">
              {{system.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="dataExstudentForm.get('system').hasError('required')">Se requiere
            Sistema</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Plantel" formControlName="campus" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let camp of campus" [value]="camp.id">
              {{camp.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="dataExstudentForm.get('campus').hasError('required')">Selecciona
            un
            plantel</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field matTooltip="Si tu plantel es un CCH o una Preparatoria elige PREPARATORIA como opción">
          <mat-select placeholder="Carrera" formControlName="career" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let career of careers" [value]="career.id">
              {{career.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="dataExstudentForm.get('career').hasError('required')">Selecciona
            una
            carrera</mat-error>
        </mat-form-field>
      </div>
    </div>
    <!--/Register form-->
    <div class="row">
      <div class="col-md-6 mb-3">
        <button mat-button (click)="beforeForm()" type="button" color="blue-unam">Cancelar</button>
      </div>
      <div class="col-md-6 mb-3">
        <button mat-button type="submit" class="float-right" [disabled]="dataExstudentForm.invalid"
          color="blue-unam">Guardar</button>
      </div>
    </div>
  </form>
  <form [formGroup]="dataEmployeeForm" *ngIf="editFormGroup.get('role').value=='employee'"
    (ngSubmit)="onSubmitEmployee()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input mask="0*" matInput formControlName="numberId" placeholder="Número de trabajador" required>
          <mat-error *ngIf="dataEmployeeForm.get('numberId').hasError('required')">Se
            requiere
            Número de Trabajador</mat-error>
          <mat-error *ngIf="dataEmployeeForm.get('numberId').hasError('unique')">El
            número de trabajador ya existe. Si
            olvidaste tus datos de login acude al departamento de Actividades
            Culturales.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Plantel" formControlName="campus" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let camp of campus" [value]="camp.id">
              {{camp.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="dataEmployeeForm.get('campus').hasError('required')">Selecciona
            un
            plantel</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Turno" formControlName="workshift" required>
            <mat-option>--</mat-option>
            <mat-option value="Matutino">Matutino</mat-option>
            <mat-option value="Vespertino">Vespertino</mat-option>
            <mat-option value="Ambos">Ambos</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput formControlName="area" placeholder="Área" required>
          <mat-error *ngIf="dataEmployeeForm.get('area').hasError('required')">Ingresa un
            Área</mat-error>
        </mat-form-field>
      </div>
    </div>
    <!--/Register form-->
    <div class="row">
      <div class="col-md-6 mb-3">
        <button mat-button (click)="beforeForm()" type="button" color="blue-unam">Cancelar</button>
      </div>
      <div class="col-md-6 mb-3">
        <button mat-button type="submit" class="float-right" [disabled]="dataEmployeeForm.invalid"
          color="blue-unam">Guardar</button>
      </div>
    </div>
  </form>
  <form [formGroup]="dataExternalForm" *ngIf="editFormGroup.get('role').value=='external'"
    (ngSubmit)="onSubmitExternal()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Ocupación" formControlName="occupation" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let occupation of occupations" [value]="occupation.id">
              {{occupation.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="dataExternalForm.get('occupation').hasError('required')">Selecciona
            una
            Ocupación</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <textarea matInput placeholder="Dirección" formControlName="address" required></textarea>
          <mat-error *ngIf="dataExternalForm.get('address').hasError('required')">Ingresa
            tu dirección</mat-error>
        </mat-form-field>
      </div>
    </div>
    <!--/Register form-->
    <div class="row">
      <div class="col-md-6 mb-3">
        <button mat-button (click)="beforeForm()" type="button" color="blue-unam">Cancelar</button>
      </div>
      <div class="col-md-6 mb-3">
        <button mat-button type="submit" class="float-right" [disabled]="dataExternalForm.invalid"
          color="blue-unam">Guardar</button>
      </div>
    </div>
  </form>
</section>