@import '../variables';
.icon-unam{
    font-size: 50px;
}
.bg-unam{
    background-color: $primary;
    color: $white;
    a{
        color: $white;
    }
}
.footer{
    min-height: 150px;
    margin-top: 80px;
    p{
        font-size: 10px;
    }
    ul{
        list-style: none;
        li{
            margin-bottom: 20px;
        }
    }
}
.container-acfa{
    min-height: 480px;
}
.fab-bottom-right{
    position: absolute;
    bottom: 20%;
    right: 20%;
}
.header-text{
    color: $blue-unam;
    width: 160px;
    float: right;
    margin-left: 10px;
    border-left: 5px solid;
    padding-left: 10px;
    h3,h4,h5{
        line-height: 0.9;
        white-space: pre-wrap;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    h3 {
        font-size: .7rem;
    }
    h4 {
        font-size: .6rem;
    }
    h5 {
        font-size: .5rem;
    }
    
}
@media screen and (max-width: $break-md) {
    .header-text{
        width: 135px;
        h3,h4,h5{
            line-height: 0.8;
            white-space: pre-wrap;
            margin-bottom: 3px;
            text-transform: uppercase;
        }
        h3 {
            font-size: .6rem;
        }
        h4 {
            font-size: .5rem;
        }
        h5 {
            font-size: .4rem;
        }
    }
}
@media screen and (max-width: $break-sm) {
    .header-text{
        width: 110px;
        border-left: none;
        h3,h4,h5{
            line-height: 0.7;
            white-space: pre-wrap;
            margin-bottom: 3px;
            text-transform: uppercase;
        }
        h3 {
            font-size: .6rem;
        }
        h4 {
            font-size: .5rem;
        }
        h5 {
            font-size: .4rem;
        }
    }
}