<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over">
        <mat-toolbar>
            <app-svg-img name="logo-unam" alt="Logo Unam" size="60px"></app-svg-img>
            <app-svg-img borderImg="true" name="logo-cultural" alt="Logo Actividades Culturales" size="60px" class="float-right"></app-svg-img>
            <app-svg-img borderImg="true" name="logo-fesa" alt="Logo Fes Aragón" size="60px" class="float-right"></app-svg-img>
            <div class="header-text">
                <h3>Facultad de Estudios Superiores Aragón</h3>
                <h4>Unidad de Extensión Universitaria</h4>
                <h5>Actividades Culturales</h5>
            </div>
        </mat-toolbar>
        <mat-nav-list>
            <a class="main-menu-item" mat-list-item *ngFor="let item of menu" (click)="sidenav.close()" [routerLink]="[item.link]" [queryParams]="item.paramsQuery">
                <fa-icon [name]="item.icon" *ngIf="item.type==='fa'"></fa-icon>
                <acfa-icon [name]="item.icon" *ngIf="item.type==='acfa'"></acfa-icon>
                {{item.name}}
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content (window:scroll)="onScrollBody($event)">
        <mat-toolbar #toolbarContent class="position-fixed">
            <div class="container-fluid">
                <div class="row">
                    <div class="d-lg-none col-12">
                        <button mat-icon-button (click)="sidenav.toggle()" class="float-right">
                            <fa-icon name="ellipsis-v" color="blue-unam"></fa-icon>
                        </button>
                        <div class="header-text">
                            <h3>Facultad de Estudios Superiores Aragón</h3>
                            <h4>Unidad de Extensión Universitaria</h4>
                            <h5>Actividades Culturales</h5>
                        </div>
                        <a [routerLink]="['/']" class="logo-unam">
                            <app-svg-img name="logo-unam" alt="Logo Unam" size="45px"></app-svg-img>
                        </a>
                        <app-svg-img borderImg="true" name="logo-fesa" alt="Logo Fes Aragón" size="45px"></app-svg-img>
                        <app-svg-img borderImg="true" name="logo-cultural" alt="Logo Actividades Culturales" size="45px"></app-svg-img>
                    </div>
                    <div class="d-none d-lg-block col-12">
                        <a [routerLink]="['/']" class="logo-unam">
                            <app-svg-img name="logo-unam" alt="Logo Unam 1" size="60px"></app-svg-img>
                        </a>
                        <div class="d-inline-block ml-4">
                            <mat-menu #appMenu="matMenu">
                                <ng-template matMenuContent let-items="items">
                                    <a class="main-menu-item" mat-menu-item color="blue-unam" [routerLink]="[item.link]" *ngFor="let item of items">
                                        <fa-icon [name]="item.icon" *ngIf="item.type==='fa'"></fa-icon>
                                        <acfa-icon [name]="item.icon" *ngIf="item.type==='acfa'"></acfa-icon>
                                        {{item.name}}
                                    </a>
                                </ng-template>
                            </mat-menu>
                            <ng-container *ngFor="let item of menu">
                                <ng-container *ngIf="item.children.length > 0">
                                    <button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{items: item.children}" mat-button color="blue-unam">
                                        <fa-icon [name]="item.icon" *ngIf="item.type==='fa'"></fa-icon>
                                        <acfa-icon [name]="item.icon" *ngIf="item.type==='acfa'"></acfa-icon>
                                        {{item.name}}
                                    </button>
                                </ng-container>
                                <ng-container *ngIf="item.children.length===0">
                                    <a [routerLink]="[item.link]" [queryParams]="item.queryParams" mat-button color="blue-unam" class="main-menu-item">
                                        <fa-icon [name]="item.icon" *ngIf="item.type==='fa'"></fa-icon>
                                        <acfa-icon [name]="item.icon" *ngIf="item.type==='acfa'"></acfa-icon>
                                        {{item.name}}
                                    </a>
                                </ng-container>
                            </ng-container>
                        </div>
                        <div class="float-right">
                            <app-svg-img borderImg="true" name="logo-fesa" alt="Logo Fes Aragón" size="60px"></app-svg-img>
                            <app-svg-img borderImg="true" name="logo-cultural" alt="Logo Actividades Culturales" size="60px"></app-svg-img>
                            <div class="header-text">
                                <h3>Facultad de Estudios Superiores Aragón</h3>
                                <h4>Unidad de Extensión Universitaria</h4>
                                <h5>Actividades Culturales</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-toolbar>
        <div class="mb-5 container-acfa">
            <router-outlet (activate)='onActivate($event)'></router-outlet>
        </div>
        <footer class="bg-unam footer pt-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span class="float-right">
                            © UNAM
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Más sobre nosotros</h3>
                        <ul>
                            <li><a href="https://www.aragon.unam.mx/fes-aragon/public_html/documents/aviso-de-privacidad.pdf">Aviso de Privacidad</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>Contáctanos</h3>
                        <ul>
                            <li><a href="tel:57998049"><fa-icon name="phone"></fa-icon> Teléfono: 5799 8049.</a></li>
                            <li><a href="mailto:talleresculturales@aragon.unam.mx"><fa-icon name="envelope"></fa-icon> E-mail: talleresculturales@aragon.unam.mx</a></li>
                            <li><a href="mailto:culturales@aragon.unam.mx"><fa-icon name="envelope"></fa-icon> E-mail: culturales@aragon.unam.mx</a></li>
                            <li><a href="https://www.facebook.com/FESAragon.extension/" target="_blank"><fa-icon name="facebook" istyle="fab"></fa-icon> FESAragon.extension</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <p class="text-center">Hecho en México, Universidad Nacional Autónoma de México (UNAM), todos los derechos reservados 2019. Esta página puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica. De otra forma, requiere permiso previo por escrito de la institución. </p>
                    </div>
                </div>
            </div>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>