<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
  <ng-container *ngFor="let item of items">
    <!-- Handle branch node menu items -->
    <ng-container *ngIf="item.children.length > 0">
      <button [matMenuTriggerFor]="menu.childMenu" mat-menu-item color="blue-unam">
          <fa-icon [name]="item.icon" *ngIf="item.type==='fa'"></fa-icon>
          <acfa-icon [name]="item.icon" *ngIf="item.type==='acfa'"></acfa-icon>
          {{item.name}}
      </button>
      <app-submenu #menu [items]="item.children"></app-submenu>
    </ng-container>
    <!-- Handle leaf node menu items -->
    <ng-container *ngIf="item.children.length === 0">
      <button [routerLink]="[item.link]" mat-menu-item color="blue-unam">
        <fa-icon [name]="item.icon" *ngIf="item.type==='fa'"></fa-icon>
        <acfa-icon [name]="item.icon" *ngIf="item.type==='acfa'"></acfa-icon>
        {{item.name}}
      </button>
    </ng-container>
  </ng-container>
</mat-menu>