<section class="container-fluid">
  <div class="row mt-3">
    <!--<p *ngIf="workshops.length==0">Aún no hay talleres</p>-->
    <div class="col-md-4" *ngFor="let workshop of workshops">
      <mat-card>
        <a [routerLink]="['/talleres/' + workshop.slug]"><img mat-card-image [src]="workshop.image_url" [alt]="workshop.name"></a>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{workshop.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{workshop.information}}</p>
        </mat-card-content>
        <mat-card-actions class="text-right">
          <button mat-button color="blue-unam" [routerLink]="['/talleres/' + workshop.slug]">
            Detalle <fa-icon name="info-circle"></fa-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>