<section class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-4 mb-2" *ngIf="user.student_type=='admin'||user.student_type=='socialservice'">
      <a [routerLink]="['/admin/periodos']">
        <mat-card>
          <mat-card-title>
            <fa-icon name="calendar" size="40px"></fa-icon> Periodos
          </mat-card-title>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 mb-2" *ngIf="user.student_type=='admin'">
      <a [routerLink]="['/admin/talleres']">
        <mat-card>
          <mat-card-title>
            <acfa-icon name="projector" size="40px"></acfa-icon> Talleres
          </mat-card-title>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 mb-2" *ngIf="user.student_type=='admin'">
      <a [routerLink]="['/admin/profesores']">
        <mat-card>
          <mat-card-title>
            <fa-icon name="chalkboard-teacher" size="40px"></fa-icon> Profesores
          </mat-card-title>
        </mat-card>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-2" *ngIf="user.student_type=='admin'">
      <a [routerLink]="['/admin/facultades']">
        <mat-card>
          <mat-card-title>
            <fa-icon name="university" size="40px"></fa-icon> Facultades
          </mat-card-title>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 mb-2" *ngIf="user.student_type=='admin'">
      <a [routerLink]="['/admin/carreras']">
        <mat-card>
          <mat-card-title>
            <fa-icon name="graduation-cap" size="40px"></fa-icon> Carreras
          </mat-card-title>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 mb-2" *ngIf="user.student_type=='admin'">
      <a [routerLink]="['/admin/ocupaciones']">
        <mat-card>
          <mat-card-title>
            <fa-icon name="briefcase" size="40px"></fa-icon> Ocupaciones
          </mat-card-title>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 mb-2" *ngIf="user.student_type=='admin'||user.student_type=='socialservice'">
      <a [routerLink]="['/admin/salones']">
        <mat-card>
          <mat-card-title>
            <acfa-icon name="desk" size="40px"></acfa-icon> Salones
          </mat-card-title>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 mb-2" *ngIf="user.student_type=='admin'||user.student_type=='socialservice'">
      <a [routerLink]="['/admin/requisitos']">
        <mat-card>
          <mat-card-title>
            <fa-icon name="clipboard-list" size="40px"></fa-icon> Requisitos
          </mat-card-title>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 mb-2" *ngIf="user.student_type=='admin'||user.student_type=='socialservice'">
      <a [routerLink]="['/admin/eventos']">
        <mat-card>
          <mat-card-title>
            <acfa-icon name="event" size="40px"></acfa-icon> Eventos
          </mat-card-title>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 mb-2" *ngIf="user.student_type=='admin'||user.student_type=='socialservice'">
      <a [routerLink]="['/admin/sliders']">
        <mat-card>
          <mat-card-title>
            <fa-icon name="sliders-h" size="40px"></fa-icon> Sliders
          </mat-card-title>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 mb-2" *ngIf="user.student_type=='admin'||user.student_type=='socialservice'">
      <a [routerLink]="['/admin/usuarios']">
        <mat-card>
          <mat-card-title>
            <fa-icon name="users" size="40px"></fa-icon> Usuarios
          </mat-card-title>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 mb-2" *ngIf="user.student_type=='admin'||user.student_type=='talent'">
      <a [routerLink]="['/admin/talento-aragones']">
        <mat-card>
          <mat-card-title>
            <fa-icon name="book" size="40px"></fa-icon> Talento Aragonés
          </mat-card-title>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 mb-2" *ngIf="user.student_type=='admin'">
      <a [routerLink]="['/admin/reportes']">
        <mat-card>
          <mat-card-title>
            <fa-icon name="chart-bar" size="40px"></fa-icon> Reportes
          </mat-card-title>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 mb-2" *ngIf="user.student_type=='admin'">
      <a [routerLink]="['/admin/lineas-de-captura']">
        <mat-card>
          <mat-card-title>
            <fa-icon name="money-check-alt" size="40px"></fa-icon> Líneas de captura
          </mat-card-title>
        </mat-card>
      </a>
    </div>
    <div class="col-md-4 mb-2" *ngIf="user.student_type=='admin'">
      <a [routerLink]="['/admin/inscripciones']">
        <mat-card>
          <mat-card-title>
            <fa-icon name="tasks" size="40px"></fa-icon> Validar Inscripciones
          </mat-card-title>
        </mat-card>
      </a>
    </div>
  </div>
</section>