<section class="container-fluid">
    <h2>Editar Slider</h2>
    <div class="row mt-3 mb-5 justify-content-md-center">
        <div class="col-md-8">
            <form [formGroup]="editFormGroup" (ngSubmit)="edit()">
                <!--Register form-->
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <input matInput formControlName="title" placeholder="Título">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <input matInput formControlName="link" placeholder="Link">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <input matInput formControlName="order" placeholder="Orden">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" matTooltip="La resolución debe ser de 1200x600 pixeles">
                        <label for="imgdesktop" class="mb-3 d-block">Imagen de escritorio</label>
                        <input type="file" id="imgdesktop" name="imgdesktop" formControlName="img_desktop"
                            ng2FileSelect [uploader]="uploaderDesktop" />
                        <mat-progress-bar *ngFor="let item of uploaderDesktop.queue" mode="determinate" [value]="item.progress_desktop"></mat-progress-bar>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" matTooltip="La resolución debe ser de 800x600 pixeles">
                        <label for="imgmobile" class="mb-3 d-block">Imagen de movil</label>
                        <input type="file" id="imgmobile" name="imgmobile" formControlName="img_mobile" ng2FileSelect
                            [uploader]="uploaderMobile" />
                        <mat-progress-bar *ngFor="let item of uploaderMobile.queue" mode="determinate" [value]="item.progress_desktop"></mat-progress-bar>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <a mat-button [routerLink]="['/admin/sliders/']" color="warn">Cancelar</a>
                        <button mat-button type="submit" class="float-right" [disabled]="editFormGroup.invalid" color="blue-unam">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>