<section class="container-fluid">
  <h2>Editar: {{occupation.name}}</h2>
  <div class="row mt-3 mb-5 justify-content-md-center">
    <div class="col-md-8">
      <form [formGroup]="editFormGroup" (ngSubmit)="edit()">
        <!--Register form-->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <input matInput formControlName="name" placeholder="Nombre" required>
              <mat-error *ngIf="editFormGroup.get('name').hasError('required')">Se requiere nombre</mat-error>
              <mat-error *ngIf="editFormGroup.get('name').hasError('pattern')">Sólo se aceptan
                caracteres alfanuméricos</mat-error>
              <mat-error *ngIf="editFormGroup.get('name').hasError('unique')">Ya existe una ocupación con ese nombre</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <a mat-button [routerLink]="['/admin/ocupaciones/']" color="warn">Cancelar</a>
            <button mat-button type="submit" class="float-right" [disabled]="editFormGroup.invalid" color="blue-unam">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>