<section class="container-fluid">
  <h2>Mis talleres</h2>
  <a class="float-right" mat-button [routerLink]="['/mis-talleres/archivos']" routerLinkActive="router-link-active"  color="primary">
    <fa-icon name="upload" size="30px"></fa-icon> Subir mis archivos
  </a>
  <div class="clearfix"></div>
  <div class="overflow-x-auto mt-5">
    <table mat-table [dataSource]="inscriptions" class="w-100">
      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef> Periodo </th>
        <td mat-cell *matCellDef="let insc"> {{insc.workshop_period.period.name}} </td>
      </ng-container>
      <ng-container matColumnDef="folio">
        <th mat-header-cell *matHeaderCellDef> Folio de inscripción </th>
        <td mat-cell *matCellDef="let insc"> {{insc.inscription.folio}} </td>
      </ng-container>
      <ng-container matColumnDef="workshop">
        <th mat-header-cell *matHeaderCellDef> Taller </th>
        <td mat-cell *matCellDef="let insc"> {{insc.workshop_period.workshop.name}} </td>
      </ng-container>
      <ng-container matColumnDef="schedule">
        <th mat-header-cell *matHeaderCellDef> Horario </th>
        <td mat-cell *matCellDef="let insc"> 
          <ul>
              <li *ngFor="let schedule of insc.workshop_period.schedules">{{ schedule | scheduleFormat}}</li>
          </ul>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let insc">
          <a [routerLink]="['/mis-talleres/' + insc.inscription.id]">
            <fa-icon name="eye" size="20px"></fa-icon> 
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['period', 'folio', 'workshop', 'schedule', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['period', 'folio', 'workshop', 'schedule', 'actions'];"></tr>
    </table>
  </div>
</section>