<section class="container-fluid">
  <h2>Presentaciones</h2>
  <div class="row">
    <p *ngIf="events.length===0">Aún no hay alguna presentación</p>
    <div class="col-md-4" *ngFor="let event of events">
      <mat-card>
        <img mat-card-image [src]="event.thumbnail_url" [alt]="event.title">
        <mat-card-header>
          <mat-card-title>{{event.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{event.description}}</p>
        </mat-card-content>
        <mat-card-actions class="text-right">
          <a mat-button color="blue-unam" [routerLink]="['/eventos/' + event.event_category.slug + '/' + event.slug]">
            Ver horarios <fa-icon name="info-circle"></fa-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>