<section class="container-fluid">
  <h2>Alumnos de: {{workshopPeriod.workshop.name}}</h2>
  <h3>Grupo: {{workshopPeriod.group}}</h3>
  <h3>Profesor: {{workshopPeriod.teacher.name}} {{workshopPeriod.teacher.lastname}} {{workshopPeriod.teacher.surname}}</h3>
  <!--<a class="float-right mb-3" mat-fab [routerLink]="['/admin/profesores/nuevo']" color="primary">
    <fa-icon name="plus"></fa-icon>
  </a>-->
  <a class="float-right mb-3" mat-fab [routerLink]="['/admin/talleres-periodo/' + workshopPeriod.period_id + '/alumnos/' + workshopPeriod.id + '/inscribir']" color="primary">
    <fa-icon name="plus"></fa-icon>
  </a>
  <div class="clearfix"></div>
  <div class="overflow-x-auto">
    <table mat-table [dataSource]="registers" class="w-100">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let register"> {{register.user.name}} </td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
        <td mat-cell *matCellDef="let register"> {{register.user.lastname}} </td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
        <td mat-cell *matCellDef="let register"> {{register.user.surname}} </td>
      </ng-container>

      <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef> Tipo de Alumno</th>
        <td mat-cell *matCellDef="let register"> {{(register.user.roles.length > 0) ? register.user.roles[0].name : 'No definido'}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Validación</th>
        <td mat-cell *matCellDef="let register">
          <span *ngIf="register.inscription.status==0">Pre-Inscrito (Esperando Línea de Captura)</span>
          <span *ngIf="register.inscription.status==1">Validado | {{ register.inscription.updated_at | momentFormat:'DD/MM/YYYY HH:mm'}}</span>
          <span *ngIf="register.inscription.status==2">Penalizado</span>
          <span *ngIf="register.inscription.status==3">Inscripción Cancelada</span>
          <span *ngIf="register.inscription.status==4||register.inscription.status==6">Subiendo Archivos</span>
          <span *ngIf="register.inscription.status==5">Validando Archivos</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="captureline">
        <th mat-header-cell *matHeaderCellDef> Línea de captura</th>
        <td mat-cell *matCellDef="let register">
          <div *ngIf="register.inscription.status!=3">
            <span *ngIf="register.inscription.captureline_id">
              <a [href]="register.inscription.captureline.img_url + '?token='+ token" target="_blank"><img [src]="register.inscription.captureline.img_url + '?token='+ token" width="100px"></a>
            </span><br />
            <span *ngIf="register.inscription.captureline_id">
              <button mat-button color="primary" (click)="removeCaptureline(register.inscription)" [disabled]="blockButtons">Remover Línea de captura</button>
            </span>
            <span *ngIf="!register.inscription.captureline_id">
              <button mat-button color="primary" (click)="sendCaptureline(register.inscription)" [disabled]="blockButtons">Asignar Línea de captura</button>
            </span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let register">
          <a mat-icon-button color="primary" *ngIf="register.inscription.status!=3" matTooltip="Validar alumno" class="anchor-action" [routerLink]="['/admin/inscripciones/' + register.inscription.id]">
            <fa-icon name="user-check" size="30px"></fa-icon>
          </a>
          <a mat-icon-button color="primary" matTooltip="Editar Alumno" class="anchor-action" [routerLink]="['/admin/usuarios/editar/' + register.user.id]">
            <fa-icon name="edit" size="30px"></fa-icon>
          </a>
          <button class="anchor-action" matTooltip="Ver inscripción" (click)="viewInscription(register.inscription.id)" mat-icon-button color="primary">
            <fa-icon name="eye" size="30px"></fa-icon>
          </button>
          <button class="anchor-action" *ngIf="register.inscription.status!=3" matTooltip="Cambiar taller" (click)="changeWorkshopPeriod(register.inscription)" mat-icon-button color="primary">
            <fa-icon name="exchange-alt" size="30px"></fa-icon>
          </button>
          <button class="anchor-action" *ngIf="register.inscription.status!=3" matTooltip="Remover inscripción" (click)="delete(register.inscription)" mat-icon-button color="primary">
            <fa-icon name="trash" size="30px"></fa-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['name', 'lastname', 'surname', 'rol', 'status','captureline','actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'lastname', 'surname', 'rol', 'status','captureline','actions'];"></tr>
    </table>
  </div>
</section>