<section class="container-fluid">
    <h2>Validar Inscripciones que ya subieron archivos</h2>
    <div class="overflow-x-auto">
        <table mat-table [dataSource]="inscriptions" class="w-100">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID</th>
                <td mat-cell *matCellDef="let inscription"> {{inscription.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Alumno</th>
                <td mat-cell *matCellDef="let inscription">
                    {{inscription.user.name}} {{inscription.user.lastname}} {{inscription.user.surname}}    
                </td>
            </ng-container>
            <ng-container matColumnDef="workshop">
                <th mat-header-cell *matHeaderCellDef> Taller</th>
                <td mat-cell *matCellDef="let inscription">
                    {{inscription.workshopPeriod.workshop.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let inscription">
                    <a mat-button [routerLink]="['/admin/inscripciones/' + inscription.id]">
                        <fa-icon name="check" size="30px" color="success"></fa-icon>
                    </a>
                    <button mat-button (click)="delete(inscription)">
                        <fa-icon name="trash" size="30px" color="danger"></fa-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['id', 'name', 'workshop', 'actions']">
            </tr>
            <tr mat-row
                *matRowDef="let row; columns: ['id','name', 'workshop', 'actions'];"></tr>
        </table>
        <mat-paginator itemsPerPageLabel="Registros por página" [length]="totalRegisters" [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]" (page)="onChangeEvent($event)">
        </mat-paginator>
    </div>
</section>