<section class="container-fluid mt-2">
  <h2>Registros de Talento Aragonés 
    <a mat-raised-button [href]="urlCSV" target="_blank" color="primary">Exportar CSV</a>
  </h2>
  <div class="clearfix"></div>
  <div class="overflow-x-auto">
    <table mat-table [dataSource]="talents" class="w-100">
      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef> Fecha Inscripción </th>
        <td mat-cell *matCellDef="let talent"> {{talent.created_at | momentFormat:'DD/MM/YYYY HH:mm'}} </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let talent"> {{talent.name}} </td>
      </ng-container>
      <ng-container matColumnDef="img_desktop">
        <th mat-header-cell *matHeaderCellDef> Carrera </th>
        <td mat-cell *matCellDef="let talent"> {{talent.career.name}}</td>
      </ng-container>
      <ng-container matColumnDef="img_mobile">
        <th mat-header-cell *matHeaderCellDef> Arte </th>
        <td mat-cell *matCellDef="let talent"> {{talent.arts}}</td>
      </ng-container>
      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef> Duración </th>
        <td mat-cell *matCellDef="let talent"> {{talent.duration}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let talent">
          <a class="border-0 p-0 m-2" matTooltip="Ver registro" [routerLink]="['/admin/talento-aragones/' + talent.id]">
            <fa-icon name="eye"></fa-icon>
          </a>
          <!--<button class="border-0 p-0 m-2" matTooltip="Borrar talent" (click)="delete(talent)">
            <fa-icon name="trash"></fa-icon>
          </button>-->
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['order','title', 'img_desktop', 'img_mobile','link','actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['order','title', 'img_desktop', 'img_mobile','link','actions'];"></tr>
    </table>
  </div>
</section>