<h2 mat-dialog-title>Borrar</h2>
<mat-dialog-content>{{message}}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">No</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button (click)="delete()" [disabled]="disableBtnYes">Si</button>
</mat-dialog-actions>