<section class="container-fluid">
    <h2>Nuevo evento público</h2>
    <div class="row mt-3 mb-5 justify-content-md-center">
        <div class="col-md-8">
            <form [formGroup]="createFormGroup" (ngSubmit)="add()">
                <!--Register form-->
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput formControlName="title" placeholder="Título" required>
                            <mat-error *ngIf="createFormGroup.get('title').hasError('required')">Se requiere título
                            </mat-error>
                            <mat-error *ngIf="createFormGroup.get('title').hasError('unique')">Ya existe un evento con
                                ese nombre</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-select formControlName="classroom" placeholder="Lugar" required>
                                <mat-option *ngFor="let classroom of classrooms" [value]="classroom.id">
                                    {{classroom.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="createFormGroup.get('classroom').hasError('required')">Se requiere Lugar
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <textarea matInput formControlName="description" placeholder="Descripción"></textarea>
                            <mat-error *ngIf="createFormGroup.get('description').hasError('required')">Se requiere
                                descripción</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <h4 class="mt-5">Presentaciones</h4>
                <ng-container formArrayName="showings">
                    <div *ngFor="let showing of createFormGroup.get('showings')['controls']; let i = index" class="row">
                        <ng-container [formArrayName]="i">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="pickerStart" placeholder="Inicio"
                                        formControlName="start">
                                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerStart></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field>
                                    <input matInput placeholder="hh:mm" mask="Hh:m0" formControlName="start_hour">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="pickerFinish" placeholder="Fin"
                                        formControlName="finish">
                                    <mat-datepicker-toggle matSuffix [for]="pickerFinish"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerFinish></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field>
                                    <input matInput placeholder="hh:mm" mask="Hh:m0" formControlName="finish_hour">
                                </mat-form-field>
                            </div>
                            <div class="col-md-1 text-center mt-2">
                                <button type="button" *ngIf="i !== 0" mat-mini-fab color="warn"
                                    (click)="deleteShowing(i)">-</button>
                            </div>
                            <div class="col-md-1 text-center mt-2">
                                <button type="button" *ngIf="i === createFormGroup.get('showings').controls.length - 1"
                                    mat-mini-fab color="primary" (click)="addShowing()">+</button>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <a mat-button [routerLink]="['/admin/eventos/']" color="warn">Cancelar</a>
                        <button mat-button type="submit" class="float-right" [disabled]="createFormGroup.invalid"
                            color="blue-unam">Crear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>