<section class="container-fluid">
  <h2 class="h2-secondary">Perfil</h2>
  <div class="row">
    <div class="col-md-3 text-center photo-content">
      <a (click)="openModalImage()">
        <img [src]="user.photo_url + '?token='+ token" width="200px" alt="profile photo" *ngIf="user.photo">
        <fa-icon name="camera" size="30px" class="camera-retro-icon-photo" color="#FFFFF" *ngIf="user.photo"></fa-icon>
        <fa-icon name="user" size="100px" *ngIf="!user.photo"></fa-icon>
        <fa-icon name="camera" size="30px" class="camera-retro-icon" color="#FFFFF" *ngIf="!user.photo"></fa-icon>
      </a>
    </div>
    <div class="col-md-6">
      <div class="header-profile">
        
        <h3>{{user.name}} {{user.lastname}} {{user.surname}}</h3>
        <h4 *ngIf="user.role">{{user.role.name}}</h4>
        <h4 *ngIf="!user.role" class="bg-danger">No tienes un tipo de usuario asignado. Debes de revisarlo con el Departamento de Actividades Culturales.</h4>
        <div class="row">
          <!--<a class="col-md-4 m-2" mat-raised-button [href]="urlPdf" target="_blank" color="primary">
            <fa-icon name="id-card"></fa-icon> Credencial
          </a>-->
          <a class="col-md-4 m-2" mat-raised-button [routerLink]="['/perfil/cambia-contra']" color="primary">
            <fa-icon name="edit"></fa-icon> Cambiar contraseña
          </a>
          <a class="col-md-3 m-2" mat-raised-button [routerLink]="['/perfil/editar']" color="primary">
            <fa-icon name="edit"></fa-icon> Editar
          </a>
        </div>
      </div>
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="fieldName">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let rowTable"> {{rowTable.fieldName}} </td>
        </ng-container>
        <ng-container matColumnDef="valueName">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let rowTable"> {{rowTable.valueName}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['fieldName', 'valueName']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['fieldName', 'valueName'];"></tr>
      </table>
    </div>
    <div class="col-md-3">
      <img [src]="user.qr + '?token='+ token" width="200px" alt="profile photo">
    </div>
  </div>
</section>