img{
    display: block;
    margin: 0 auto;
}
.photo-content{
    a{
        cursor: pointer;
        position: relative;
        &:hover{
            .camera-retro-icon{
                display: block;
            }
        }
    }
    .camera-retro-icon{
        position: absolute;
        top: -70px;
        left: 70px;
    }
    .camera-retro-icon-photo{
        position: absolute;
        top: 15px;
        left: 100px;
    }
    
}
.bg-danger{
    background-color: #dc3545 !important;
    color: #FFF;
}