@import '~variables.scss';
.title-workshop {
    color: $white;
    padding: 15px;
    &.warning {
        background-color: $warning;
    }
    &.success {
        background-color: $success;
    }
    &.danger {
        background-color: $danger;
    }
    &.white-disable {
        background-color: $whiteDisable;
    }
}