<section class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <img *ngIf="workshop_period.workshop.image" [src]="workshop_period.workshop.image_url" width="100%">
    </div>
    <div class="col-md-9 col-sm-12">
      <h2 class="title-workshop text-center"
        [ngClass]="{'warning': inscription.status===0 || inscription.status===4 || inscription.status===5, 'success': inscription.status===1, 'danger': inscription.status===3, 'white-disable': inscription.status===2}">
        {{workshop_period.workshop.name}}</h2>
      <h3>Fecha de inscripción {{inscription.created_at | momentFormat:'DD/MM/YYYY HH:mm'}}</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h3>Folio</h3>
              <p>{{inscription.folio}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3></h3>
              <p>{{inscription.quota + inscription.extra + inscription.scholarship | currency}} MXN</p>
            </div>
          </div>
          <div class="row" *ngIf="inscription.ticket_folio">
            <div class="col-md-12">
              <h3>Folio de ticket de pago</h3>
              <p>{{inscription.ticket_folio}}</p>
            </div>
          </div>
          <div class="row" *ngIf="inscription.ticket_date">
            <div class="col-md-12">
              <h3>Fecha de ticket de pago</h3>
              <p>{{inscription.ticket_date | momentFormat:'DD/MM/YYYY HH:mm'}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Estatus</h3>
              <p *ngIf="inscription.status===0">Pre-Inscrito, pero aún debes esperar la línea de captura para poder efectuar el pago</p>
              <p *ngIf="inscription.status===1">Inscrito y validado</p>
              <p *ngIf="inscription.status===2">No validaste a tiempo, así que te has hecho acreedor a una penalización
                de
                un día</p>
              <p *ngIf="inscription.status===3">No se validó, pero ya puedes volver a inscribirte</p>
              <p *ngIf="inscription.status===4">Esperando que subas los archivos para poder validar
                <a mat-button [routerLink]="['/mis-talleres/archivos']" routerLinkActive="router-link-active"  color="primary">
                  <fa-icon name="upload" size="30px"></fa-icon> Subir mis archivos
                </a>
              </p>
              <p *ngIf="inscription.status===5">Esperando validación del departamento de Actividades Culturales</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3> Requerimientos para poder completar la inscripción</h3>
      <ul>
        <ng-container *ngFor="let requirement of workshop_period.period.requirements">
          <li *ngIf="user.student_type_id==requirement.role_id">{{requirement.name}}</li>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-6" *ngIf="inscription.status===0||inscription.status===1">
      <h3> Horario</h3>
      <ul>
        <li *ngFor="let schedule of workshop_period.schedules">{{ schedule | scheduleFormat}}</li>
      </ul>
    </div>
  </div>
  <div class="row mb-5">
    <div [ngClass]="{'col-md-6': !inscription.captureline, 'col-md-4' : inscription.captureline}">
      <a mat-raised-button [href]="urlPdf" target="_blank" color="primary" class="full">Imprimir Comprobante</a>
    </div>
    <div [ngClass]="{'col-md-6': !inscription.captureline, 'col-md-4' : inscription.captureline}">
      <a mat-raised-button [href]="urlPdfCard" target="_blank" color="primary" class="full">
        <fa-icon name="id-card" size="20px"></fa-icon> Imprimir Credencial
      </a>
    </div>
    <div class="col-md-4" *ngIf="inscription.captureline">
      <a mat-raised-button [href]="urlCaptureline" target="_blank" color="primary" class="full">
        <fa-icon name="id-card" size="20px"></fa-icon> Línea de captura
      </a>
    </div>
  </div>
</section>