<section class="container-fluid">
    <h2>Editar requerimento para {{role.name}}</h2>
    <div class="row mt-3 mb-5 justify-content-md-center">
        <div class="col-md-8">
            <form [formGroup]="editFormGroup" (ngSubmit)="edit()">

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <input matInput formControlName="name" placeholder="Requisito" required>
                            <mat-error *ngIf="editFormGroup.get('name').hasError('required')">Se requiere nombre
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="no-underline">
                            <input matInput style="display: none">
                            <mat-checkbox formControlName="has_file">
                                ¿Se debe subir un archivo?
                            </mat-checkbox>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6" *ngIf="editFormGroup.get('has_file').value">
                        <mat-form-field class="no-underline">
                            <input matInput style="display: none">
                            <mat-radio-group aria-label="Select an option" formControlName="upload_type" required>
                                <mat-radio-button value="PERIOD">Por periodo</mat-radio-button>
                                <mat-radio-button value="WORKSHOP">Por taller</mat-radio-button>
                            </mat-radio-group>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <a mat-button [routerLink]="['/admin/requisitos/']" color="warn">Cancelar</a>
                        <button mat-button type="submit" class="float-right" [disabled]="editFormGroup.invalid"
                            color="blue-unam">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>