<section class="container-fluid">
  <div class="row mt-3 mb-5 justify-content-md-center">
    <div class="col-md-4">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-card>
          <mat-card-title>
            <fa-icon name="user"></fa-icon> Restablecer contraseña
            <div class="alert alert-danger" *ngIf="isLogin!==undefined" role="alert">
              {{errorMessage}}
            </div>
          </mat-card-title>
          <mat-card-content>
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <input matInput formControlName="user" placeholder="Email / No. Cta. / No. Trabajador" required>
                    <mat-error *ngIf="loginForm.get('user').hasError('required')">Se requiere nombre</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button *ngIf="!loadLogin" mat-button type="submit" class="float-right" [disabled]="loginForm.invalid" color="blue-unam">Enviar email</button>
            <fa-icon *ngIf="loadLogin" class="float-right" name="spinner" animate="true" size="24px" color="blue-unam"></fa-icon>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</section>