<section class="container-fluid">
  <h2>Talleres</h2>
  <a class="float-right mb-3" mat-fab [routerLink]="['/admin/talleres-periodo/' + period_id + '/nuevo']" color="primary">
    <fa-icon name="plus"></fa-icon>
  </a>
  <div class="clearfix"></div>
  <div class="overflow-x-auto">
    <table mat-table [dataSource]="workshopPeriods" class="w-100">
      <ng-container matColumnDef="workshop">
        <th mat-header-cell *matHeaderCellDef> Taller </th>
        <td mat-cell *matCellDef="let workshopPeriod" class="td-name"> {{(workshopPeriod.workshop) ? workshopPeriod.workshop.name : 'Taller borrado'}} </td>
      </ng-container>
      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef> Notas </th>
        <td mat-cell *matCellDef="let workshopPeriod" class="td-name"> {{workshopPeriod.notes}} </td>
      </ng-container>

      <ng-container matColumnDef="teacher">
        <th mat-header-cell *matHeaderCellDef> Profesor </th>
        <td mat-cell *matCellDef="let workshopPeriod"> {{(workshopPeriod.teacher) ? workshopPeriod.teacher.name : 'Profesor borrado'}}
          {{(workshopPeriod.teacher) ? workshopPeriod.teacher.lastname : ''}} </td>
      </ng-container>

      <ng-container matColumnDef="schedules">
        <th mat-header-cell *matHeaderCellDef> Horario </th>
        <td mat-cell *matCellDef="let workshopPeriod">
          <ul>
            <li *ngFor="let schedule of workshopPeriod.schedules">{{schedule | scheduleFormat}}</li>
          </ul>
        </td>
      </ng-container>
      <ng-container matColumnDef="quota">
        <th mat-header-cell *matHeaderCellDef> Alumnos Inscritos </th>
        <td mat-cell *matCellDef="let workshopPeriod">
            {{workshopPeriod.students_inscribed_count}}/{{workshopPeriod.quota}}
        </td>
      </ng-container>
      <ng-container matColumnDef="quota_validated">
        <th mat-header-cell *matHeaderCellDef> Alumnos Validados </th>
        <td mat-cell *matCellDef="let workshopPeriod">
            {{workshopPeriod.students_inscribed_count_validated}}/{{workshopPeriod.quota}}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let workshopPeriod">
          <a mat-icon-button color="primary" matTooltip="Editar taller" class="anchor-action" [routerLink]="['/admin/talleres-periodo/' + period_id + '/editar/' + workshopPeriod.id]">
            <fa-icon name="edit" size="30px"></fa-icon>
          </a>
          <a mat-icon-button color="primary" matTooltip="Ver alumnos del taller" class="anchor-action" [routerLink]="['/admin/talleres-periodo/' + period_id + '/alumnos/' + workshopPeriod.id]">
            <fa-icon name="users" size="30px"></fa-icon>
          </a>
          <a target="_blank" mat-icon-button color="primary" matTooltip="Listas en PDF" class="anchor-action" [href]="urlApi + 'workshop-period/' + workshopPeriod.id + '/pdf-users?token=' + token">
            <fa-icon name="file-pdf" size="30px"></fa-icon>
          </a>
          <!--<a mat-icon-button color="primary" matTooltip="Listas en Excel" class="anchor-action" [routerLink]="['/admin/talleres-periodo/' + period_id + '/alumnos/' + workshopPeriod.id]">
            <fa-icon name="file-excel" size="30px"></fa-icon>
          </a>-->
          <button mat-icon-button *ngIf="workshopPeriod.deleted_at===null" matTooltip="Borrar taller del periodo" class="anchor-action" (click)="delete(workshopPeriod)">
            <fa-icon name="trash" size="30px" color="danger"></fa-icon>
          </button>
          <button mat-icon-button *ngIf="workshopPeriod.deleted_at!==null" matTooltip="Restaurar taller del periodo" class="anchor-action" (click)="delete(workshopPeriod)">
            <fa-icon name="trash-restore" color="success" size="30px"></fa-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['workshop','notes', 'teacher','schedules','quota','quota_validated','actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['workshop','notes', 'teacher','schedules','quota','quota_validated','actions'];" [ngClass]="{'tr-info':!row.teacher||!row.workshop}"></tr>
    </table>
  </div>
</section>