<h2 mat-dialog-title>Nueva Contraseña</h2>
<mat-dialog-content>
  <form [formGroup]="editFormLogin" (ngSubmit)="change()">
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <mat-form-field>
            <input matInput type="password" placeholder="Contraseña" formControlName="password" required>
            <i class="fas fa-key" matSuffix></i>
            <mat-error *ngIf="editFormLogin.get('password').hasError('passwordMatch')">Las
              contraseñas no coinciden</mat-error>
            <mat-error *ngIf="editFormLogin.get('password').hasError('minLength')">Las
              contraseñas deben tener mínimo 6 caracteres</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="md-form">
          <mat-form-field>
            <input matInput type="password" placeholder="Confirma Contraseña" formControlName="confirmPassword"
              required>
            <i class="fas fa-key" matSuffix></i>
            <mat-error *ngIf="editFormLogin.get('confirmPassword').hasError('passwordMatch')">Las
              contraseñas no coinciden</mat-error>
            <mat-error *ngIf="editFormLogin.get('confirmPassword').hasError('minLength')">Las
              contraseñas deben tener mínimo 6 caracteres</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <mat-spinner *ngIf="loadSpinner" diameter="30"></mat-spinner>
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-button (click)="change()" [disabled]="editFormLogin.invalid || loadSpinner">Cambiar</button>
</mat-dialog-actions>