<section class="container-fluid">
  <h2>Requisitos {{period.name}}</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let role of roles">
      <mat-expansion-panel-header>
        <mat-panel-title>{{role.name}}</mat-panel-title>
        <mat-panel-description>{{countActive(role.requirements)}} requerimientos seleccionados</mat-panel-description>
      </mat-expansion-panel-header>
      <a class="float-right mb-3" mat-fab [routerLink]="['/admin/requisitos/' + role.id + '/nuevo/' + period.id]" color="primary">
        <fa-icon name="plus"></fa-icon>
      </a>
      <div class="clearfix"></div>
      <mat-selection-list #requirements (selectionChange)="requirementSelect($event)">
        <mat-list-option *ngFor="let requirement of role.requirements" [value]="requirement.id" [selected]="requirement.active">
          {{requirement.name}}
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
  </mat-accordion>
</section>