<section class="container-fluid">
  <h2>Nueva Carrera</h2>
  <div class="row mt-3 mb-5 justify-content-md-center">
    <div class="col-md-8">
      <form [formGroup]="createFormGroup" (ngSubmit)="add()">
        <!--Register form-->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <input matInput formControlName="name" placeholder="Nombre" required>
              <mat-error *ngIf="createFormGroup.get('name').hasError('required')">Se requiere nombre</mat-error>
              <mat-error *ngIf="createFormGroup.get('name').hasError('pattern')">Sólo se aceptan
                caracteres alfanuméricos</mat-error>
              <mat-error *ngIf="createFormGroup.get('name').hasError('unique')">Ya existe una carrera con ese nombre</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input mask="000" matInput formControlName="code" placeholder="Código">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <a mat-button [routerLink]="['/admin/carreras/']" color="warn">Cancelar</a>
            <button mat-button type="submit" class="float-right" [disabled]="createFormGroup.invalid" color="blue-unam">Crear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>