<section class="container-fluid">
  <h2>Alumnos de: {{workshopPeriod.workshop.name}}</h2>
  <h3>Grupo: {{workshopPeriod.group}}</h3>
  <h3>Profesor: {{workshopPeriod.teacher.name}} {{workshopPeriod.teacher.lastname}} {{workshopPeriod.teacher.surname}}</h3>
  <h4>Cuota:</h4>
  <ul>
    <li *ngFor="let student of workshopPeriod.students">{{student.name}}: $ {{student.pivot.price}}</li>
  </ul>
</section>
<section class="container-fluid">
  <form [formGroup]="searchFormGroup" (ngSubmit)="search()">
    <!--Register form-->
    <div class="row">
      <div class="col-md-3">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Nombre">
          <mat-error *ngIf="searchFormGroup.get('name').hasError('pattern')">Sólo se aceptan
            caracteres alfabéticos</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email">
          <mat-error *ngIf="searchFormGroup.get('email').hasError('email')">Ingresa un email
            válido</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input mask="0*" matInput formControlName="numberId" placeholder="Número de cuenta / Número de trabajador">
        </mat-form-field>
      </div>
      <div class="col-md-3 mt-3">
        <button mat-stroked-button type="submit" class="w-100" [disabled]="searchFormGroup.invalid" color="blue-unam">Buscar</button>
      </div>
    </div>
  </form>
</section>
<section class="container-fluid overflow-x-auto">
  <h3>Alumnos</h3>
  <div class="clearfix"></div>
  <div class="overflow-x-auto">
    <table mat-table [dataSource]="users" class="w-100">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
        <td mat-cell *matCellDef="let user"> {{user.lastname}} </td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
        <td mat-cell *matCellDef="let user"> {{user.surname}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <ng-container matColumnDef="number_id">
        <th mat-header-cell *matHeaderCellDef> No. CTA./ No. trabajador </th>
        <td mat-cell *matCellDef="let user"> {{user.number_id}} </td>
      </ng-container>

      <ng-container matColumnDef="user_type">
        <th mat-header-cell *matHeaderCellDef> Tipo de usuario </th>
        <td mat-cell *matCellDef="let user">
          <ul>
            <li *ngFor="let role of user.roles">{{role.name}}</li>
          </ul>
        </td>
      </ng-container>
      <ng-container matColumnDef="captureline">
        <th mat-header-cell *matHeaderCellDef> Envíar línea de captura </th>
        <td mat-cell *matCellDef="let user">
          <mat-checkbox class="example-margin" [(ngModel)]="user.sendCaptureline"></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let user">
          <button mat-raised-button [disabled]="disableAllBtn" color="primary" (click)="inscribe(user)" *ngIf="canInscribe(user)">
              Inscribir
          </button>
          <button mat-raised-button [disabled]="disableAllBtn" color="primary" (click)="openPrice(user)" *ngIf="!canInscribe(user)">
              Inscribir
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['name', 'lastname', 'surname', 'email', 'number_id', 'user_type','captureline', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'lastname', 'surname' , 'email', 'number_id', 'user_type','captureline', 'actions'];"></tr>
    </table>
  </div>
</section>