<div class="container-fluid">
    <h2>Validar Inscripción</h2>
    <dl class="row" *ngIf="inscription">
        <dt class="col-sm-2">
            Alumno
        </dt>
        <dd class="col-sm-10">
            {{inscription.user.name}} {{inscription.user.lastname}} {{inscription.user.surname}}
        </dd>
        <dt class="col-sm-2">
            Tipo: 
        </dt>
        <dd class="col-sm-10">
            {{inscription.user.role.name}}
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            {{inscription.user.email}}
        </dd>
        <dt class="col-sm-2">
            Teléfono
        </dt>
        <dd class="col-sm-10">
            {{inscription.user.phone}}
        </dd>
        <dt class="col-sm-2">
            Celular
        </dt>
        <dd class="col-sm-10">
            {{inscription.user.celphone}}
        </dd>
        <dt class="col-sm-2">
            Estado
        </dt>
        <dd class="col-sm-10">
            <p *ngIf="inscription.status===0">Inscrito, pero aún debes esperar la línea de captura para poder efectuar el pago</p>
            <p *ngIf="inscription.status===1">Inscrito y validado</p>
            <p *ngIf="inscription.status===2">No validaste a tiempo, así que te has hecho acreedor a una penalización de un día</p>
            <p *ngIf="inscription.status===3">No se validó, pero ya puedes volver a inscribirte</p>
            <p *ngIf="inscription.status===4||inscription.status===6">Esperando que suba los archivos para poder validar</p>
            <p *ngIf="inscription.status===5">Esperando validación del departamento de Actividades Culturales</p>
        </dd>
        <dt class="col-sm-2" *ngIf="inscription.captureline">
            Línea de Captura
        </dt>
        <dd class="col-sm-10" *ngIf="inscription.captureline">
            <a [href]="inscription.captureline.img_url + '?token='+ token" target="_blank">
                <img [src]="inscription.captureline.img_url + '?token='+ token" alt="Línea de captura" width="100px">
            </a>
        </dd>
        <dt class="col-sm-2" *ngIf="inscription.status==1">
            Usuario que validó
        </dt>
        <dd class="col-sm-10" *ngIf="inscription.status==1">
            {{inscription.userValidate.name}} {{inscription.userValidate.lastname}} {{inscription.userValidate.surname}}
        </dd>
    </dl>
    <div class="row">
        <div class="col-md-12">
            <a class="float-right" mat-button [routerLink]="['/admin/usuarios/talleres/' + inscription.user.id + '/archivos']" routerLinkActive="router-link-active"  color="primary">
                <fa-icon name="upload" size="30px"></fa-icon> Subir archivos
            </a>
        </div>
    </div>
    <div class="row" *ngIf="requirementsPeriod">
        <div class="col-md-12">
            <h4 class="wp-title text-center">Periodo: {{period.name}}</h4>
            <table mat-table [dataSource]="requirementsPeriod" class="w-100">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Requerimiento </th>
                    <td mat-cell *matCellDef="let req"> {{req.name}} </td>
                </ng-container>
                <ng-container matColumnDef="file">
                    <th mat-header-cell *matHeaderCellDef> Documento </th>
                    <td mat-cell *matCellDef="let req">
                        <a *ngIf="req.file_url" [href]="req.file_url + '?token='+ token" target="_blank">
                            <fa-icon name="file-pdf" size="40px" *ngIf="req.mime=='pdf'" color="danger"></fa-icon>
                            <fa-icon name="file-image" size="40px" *ngIf="req.mime!='pdf'"></fa-icon>
                        </a>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['name', 'file']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['name', 'file'];"></tr>
            </table>
        </div>
    </div>
    <div class="row" *ngIf="requirementsWorkshop">
        <div class="col-md-12">
            <h4 class="wp-title text-center">{{requirementsWorkshop.name}}</h4>
            <table mat-table [dataSource]="requirementsWorkshop.requirements" class="w-100" >
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Requerimiento </th>
                    <td mat-cell *matCellDef="let req"> {{req.name}} </td>
                </ng-container>
                <ng-container matColumnDef="file">
                    <th mat-header-cell *matHeaderCellDef> Documento </th>
                    <td mat-cell *matCellDef="let req">
                        <a *ngIf="req.file_url" [href]="req.file_url + '?token='+ token" target="_blank">
                            <fa-icon name="file-pdf" size="40px" *ngIf="req.mime=='pdf'" color="danger"></fa-icon>
                            <fa-icon name="file-image" size="40px" *ngIf="req.mime!='pdf'"></fa-icon>
                        </a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="disclaimer">
                    <td mat-footer-cell *matFooterCellDef colspan="3" class="text-center">
                        <button mat-button (click)="askAgain()" *ngIf="inscription.status==5">
                            <fa-icon name="redo" color="danger" size="30px"></fa-icon> Volver a pedir los archivos
                        </button>
                        <button mat-button (click)="validate()" *ngIf="inscription.status==4||inscription.status==5||inscription.status==6">
                            <fa-icon name="check" color="success" size="30px"></fa-icon> Validar Inscripción
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['name', 'file']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['name', 'file'];"></tr>
                <tr mat-footer-row *matFooterRowDef="['disclaimer']"></tr>
            </table>
        </div>
    </div>
</div>