/* Colores */

$blue-unam: #0036A4;
$white: #FFFFFF;
$whiteDisable: #929292;
$success: #28a745;
$warning: #fd7e14;
$danger: #dc3545;
$primary: #0F2548;
$info: #bee5eb;


$break-sm: 359px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

html {
    height: 100%;
    box-sizing: border-box;
    body{
        margin: 0;
        padding: 0;
    }
}