<section class="container-fluid">
  <h2 class="h2-secondary">Editar Perfil</h2>
  <form [formGroup]="editFormGroup" (ngSubmit)="update()">
    <!--Register form-->
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Nombre" required>
          <mat-error *ngIf="editFormGroup.get('name').hasError('required')">Se requiere
            nombre</mat-error>
          <mat-error *ngIf="editFormGroup.get('name').hasError('pattern')">Sólo se aceptan
            caracteres alfabéticos</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName="lastname" placeholder="Primer Apellido" required>
          <mat-error *ngIf="editFormGroup.get('lastname').hasError('required')">Se requiere
            primer apellido</mat-error>
          <mat-error *ngIf="editFormGroup.get('lastname').hasError('pattern')">Sólo se
            aceptan
            caracteres alfabéticos</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <input matInput formControlName="surname" placeholder="Segundo Apellido">
          <mat-error *ngIf="editFormGroup.get('surname').hasError('pattern')">Sólo se aceptan
            caracteres alfabéticos</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email" required>
          <fa-icon matSuffix name="user" *ngIf="editFormGroup.get('email').status!='PENDING'"></fa-icon>
          <fa-icon name="spinner" animate="true" matSuffix *ngIf="editFormGroup.get('email').status=='PENDING'"></fa-icon>
          <mat-error *ngIf="editFormGroup.get('email').hasError('required')">Se requiere
            email</mat-error>
          <mat-error *ngIf="editFormGroup.get('email').hasError('email')">Ingresa un email
            válido</mat-error>
          <mat-error *ngIf="editFormGroup.get('email').hasError('unique')">El email ya
            existe.</mat-error>
        </mat-form-field>
      </div>
      <div [ngClass]="{'col-md-6': editFormGroup.get('gender').value=='Masculino' || editFormGroup.get('gender').value=='Femenino', 'col-md-3': editFormGroup.get('gender').value=='Otro'}">
        <mat-form-field>
          <mat-select placeholder="Género" formControlName="gender" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let gend of genders" [value]="gend.name">
                  {{gend.name}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="editFormGroup.get('gender').hasError('required')">Se requiere
            Género</mat-error>
        </mat-form-field>
      </div>
      <div [ngClass]="{'col-md-6': editFormGroup.get('gender').value=='Masculino' || editFormGroup.get('gender').value=='Femenino', 'col-md-3': editFormGroup.get('gender').value=='Otro'}" *ngIf="editFormGroup.get('gender').value=='Otro'">
        <mat-form-field>
          <input matInput formControlName="genderOther" placeholder="Especificar Género">
          <mat-error *ngIf="editFormGroup.get('genderOther').hasError('pattern')">Sólo se aceptan
            caracteres alfabéticos</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input mask="(00) 0000 0000" matInput formControlName="phone" placeholder="Teléfono Fijo">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input mask="(00) 0000 0000" type="text" matInput formControlName="celphone" placeholder="Celular" required>
          <mat-error *ngIf="editFormGroup.get('celphone').hasError('required')">Ingresa
            un
            número celular</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="user.student_type=='exstudent' || user.student_type=='student' || user.student_type=='admin' || user.student_type=='socialservice' ">
      <div class="col-md-12 mb-3">
        <a mat-button [routerLink]="['/perfil/']" color="warn">Cancelar</a>
        <button mat-button type="submit" class="float-right" [disabled]="editFormGroup.invalid" color="blue-unam">Guardar</button>
      </div>
    </div>
  </form>
  <form [formGroup]="dataEmployeeForm" *ngIf="user.student_type=='employee'" (ngSubmit)="onSubmitEmployee()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput formControlName="numberId" placeholder="Número de trabajador" required>
          <mat-error *ngIf="dataEmployeeForm.get('numberId').hasError('required')">Se
            requiere
            Número de Trabajador</mat-error>
          <mat-error *ngIf="dataEmployeeForm.get('numberId').hasError('pattern')">Sólo se
            aceptan caracteres numéricos</mat-error>
          <mat-error *ngIf="dataEmployeeForm.get('numberId').hasError('unique')">El
            número de trabajador ya existe. Si
            olvidaste tus datos de login acude al departamento de Actividades
            Culturales.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Plantel" formControlName="campus" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let camp of campus" [value]="camp.id">
              {{camp.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="dataEmployeeForm.get('campus').hasError('required')">Selecciona
            un
            plantel</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Turno" formControlName="workshift" required>
            <mat-option>--</mat-option>
            <mat-option value="Matutino">Matutino</mat-option>
            <mat-option value="Vespertino">Vespertino</mat-option>
            <mat-option value="Ambos">Ambos</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput formControlName="area" placeholder="Área" required>
          <mat-error *ngIf="dataEmployeeForm.get('area').hasError('required')">Ingresa un
            Área</mat-error>
        </mat-form-field>
      </div>
    </div>
    <!--/Register form-->
    <div class="row">
      <div class="col-md-12 mb-3">
        <a mat-button [routerLink]="['/perfil/']" color="warn">Cancelar</a>
        <button mat-button type="submit" class="float-right" [disabled]="dataEmployeeForm.invalid" color="blue-unam">Guardar</button>
      </div>
    </div>
  </form>
  <form [formGroup]="dataExternalForm" *ngIf="user.student_type=='external'" (ngSubmit)="onSubmitExternal()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Ocupación" formControlName="occupation" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let occupation of occupations" [value]="occupation.id">
              {{occupation.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="dataExternalForm.get('occupation').hasError('required')">Selecciona
            una
            Ocupación</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <textarea matInput placeholder="Dirección" formControlName="address" required></textarea>
          <mat-error *ngIf="dataExternalForm.get('address').hasError('required')">Ingresa
            tu dirección</mat-error>
        </mat-form-field>
      </div>
    </div>
    <!--/Register form-->
    <div class="row">
      <div class="col-md-12 mb-3">
        <a mat-button [routerLink]="['/perfil/']" color="warn">Cancelar</a>
        <button mat-button type="submit" class="float-right" [disabled]="dataExternalForm.invalid" color="blue-unam">Guardar</button>
      </div>
    </div>
  </form>
  <p *ngIf="user.student_type=='student'||user.student_type=='exstudent'">*Si los siguientes datos están mal:</p>
  <ul *ngIf="user.student_type=='student'">
    <li>Número de Cuenta: {{user.number_id}}</li>
    <li>Facultad: {{user.data_student.campus.name}}</li>
    <li>Carrera: {{user.data_student.career.name}}</li>
    <li>Semestre: {{user.data_student.semester}}</li>
    <li>Año de ingreso: {{user.data_student.year}}</li>
  </ul>
  <ul *ngIf="user.student_type=='exstudent'">
    <li>Número de Cuenta: {{user.number_id}}</li>
    <li>Facultad: {{user.data_student.campus.name}}</li>
    <li>Carrera: {{user.data_student.career.name}}</li>
    <li>Semestre: {{user.data_student.semester}}</li>
    <li>Año de egreso: {{user.data_student.year}}</li>
  </ul>
  <p *ngIf="user.student_type=='student'||user.student_type=='exstudent'">Favor de acudir al Departamento de Actividades Culturales</p>
</section>