<section class="container-fluid">
  <h2>Eventos de Ofrendas</h2>
  <div class="row">
    <p *ngIf="events.length===0">Aún no hay ofrendas disponibles</p>
    <div class="col-md-4" *ngFor="let event of events">
      <mat-card>
        <img mat-card-image [src]="storageUrl + 'img/events/' + event.thumbnail" [alt]="event.title">
        <mat-card-header>
          <mat-card-title>{{event.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{event.description}}</p>
        </mat-card-content>
        <mat-card-actions class="text-right">
          <button mat-button color="blue-unam" *ngIf="event.event_category_id===1">
            Registrarme <fa-icon name="plus-circle"></fa-icon>
          </button>
          <a mat-button color="blue-unam" [routerLink]="['/eventos/' + event.event_category.slug + '/' + event.slug]">
            Detalle <fa-icon name="info-circle"></fa-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>