<section class="container-fluid">
    <h2>Ayuda</h2>
    <div class="row">
        <div class="col-md-12">
            <h4>
                <fa-icon name="question-circle"></fa-icon> Preguntas Frecuentes
            </h4>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            ¿Pregunta uno?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            ¿Pregunta dos?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>
                <fa-icon name="question-circle"></fa-icon>Iconos
            </h3>
            <h5>¿Donde buscar los iconos que aparecen en el sitio web?</h5>
            <div class="row">
                <div class="col-md-3 card-help">
                    <fa-icon name="font-awesome" istyle="fab"></fa-icon>
                    <table>
                        <tbody>
                            <tr>
                                <td>Autor</td>
                                <td><a href="https://fontawesome.com/">Font Awesome</a></td>
                            </tr>
                            <tr>
                                <td>Iconos</td>
                                <td><a href="https://fontawesome.com/icons?d=gallery">ver</a></td>
                            </tr>
                            <tr>
                                <td>Licencia</td>
                                <td><a href="https://fontawesome.com/license" target="_blank">CC BY</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 card-help">
                    <acfa-icon name="projector"></acfa-icon>
                    <table>
                        <tbody>
                            <tr>
                                <td>Autor</td>
                                <td><a href="https://www.flaticon.es/autores/pongsakornred">pongsakornRed</a></td>
                            </tr>
                            <tr>
                                <td>Icono</td>
                                <td><a href="https://www.flaticon.es/icono-gratis/proyectores_864857">ver</a></td>
                            </tr>
                            <tr>
                                <td>Licencia</td>
                                <td><a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                                        target="_blank">CC 3.0 BY</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 card-help">
                    <acfa-icon name="desk"></acfa-icon>
                    <table>
                        <tbody>
                            <tr>
                                <td>Autor</td>
                                <td><a href="http://www.freepik.com">Freepik</a></td>
                            </tr>
                            <tr>
                                <td>Icono</td>
                                <td><a href="https://www.flaticon.es/icono-gratis/desk_158256">ver</a></td>
                            </tr>
                            <tr>
                                <td>Licencia</td>
                                <td><a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                                        target="_blank">CC 3.0 BY</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 card-help">
                    <acfa-icon name="event"></acfa-icon>
                    <table>
                        <tbody>
                            <tr>
                                <td>Autor</td>
                                <td><a href="http://www.freepik.com">Freepik</a></td>
                            </tr>
                            <tr>
                                <td>Icono</td>
                                <td><a href="https://www.flaticon.es/icono-gratis/evento_912314">ver</a></td>
                            </tr>
                            <tr>
                                <td>Licencia</td>
                                <td><a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                                        target="_blank">CC 3.0 BY</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 card-help">
                    <acfa-icon name="skull"></acfa-icon>
                    <table>
                        <tbody>
                            <tr>
                                <td>Autor</td>
                                <td><a href="http://www.freepik.com">Freepik</a></td>
                            </tr>
                            <tr>
                                <td>Icono</td>
                                <td><a href="https://www.flaticon.es/icono-gratis/craneo_1176625">ver</a></td>
                            </tr>
                            <tr>
                                <td>Licencia</td>
                                <td><a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                                        target="_blank">CC 3.0 BY</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>