@import '~variables.scss';
.card-help {
    background-color: $white;
    margin: 20px;
    padding: 10px;
    text-align: center;
    fa-icon, acfa-icon{
        font-size: 40px;
    }
    table {
        width: 100%;
    }
}