.swiper-container-home{
    min-height: 200px;
}
.mat-card-image{
    -webkit-transition: transform 1s; /* Safari */
    transition: transform 1s;
    &:hover{
        -webkit-transform: scale(1.04, 1.04);
        transform: scale(1.04, 1.04);
    }
}
countdown{
    font-size: 40px;
}