<section class="container-fluid swiper-container-home" *ngIf="sliders.length>0">
  <div class="row">
    <div class="col-md-12 px-0">
      <app-swiper (getSwiper)="getSwiper($event)" [autoplay]="true" slidesPerView="1" [loop]="true" [centeredSlides]="true"
        [delay]="10000" [pagination]="{type: 'bullets'}" [navigation]="{}" [createOnInit]="false">
        <div class="swiper-slide text-center" *ngFor="let slide of sliders">
          <a [routerLink]="[slide.link]" class="homebanners-swiper-slide" [title]="slide.title">
            <img [src]="slide.img_desktop_url" [alt]="slide.title + ' desktop'" class="d-none d-md-block w-100">
            <img [src]="slide.img_mobile_url" [alt]="slide.title + ' mobile'" class="d-md-none w-100">
          </a>
        </div>
      </app-swiper>
    </div>
  </div>
</section>
<section class="container-fluid background-inter py-5" *ngIf="currentPeriod">
  <h3 class="text-center">Inicio de inscripción: {{currentPeriod.inscription_start |
    momentFormat:'DD/MM/YYYY HH:mm'}} hrs.</h3>
  <countdown [config]="configCountdown" class="d-flex justify-content-center" #counter *ngIf="configCountdown.leftTime>0"></countdown>
</section>
<section class="container-fluid background-inter py-5" *ngIf="events.length>0">
  <h2 class="h2-primary">Eventos</h2>
  <div class="row px-5 pt-5">
    <div class="col-md-12">
      <app-swiper (getSwiper)="getSwiperEvents($event)" [slidesPerView]="isMobile ? 1 : 2" [dynamicBullets]="isMobile"
        [spaceBetween]="20" [pagination]="{type: 'bullets'}" [navigation]="{}" [createOnInit]="false">
        <div class="swiper-slide pb-5" *ngFor="let event of events">
          <mat-card>
            <a class="home-event-swiper-slide-image" [title]="event.title" mat-button color="blue-unam" [routerLink]="['/eventos/' + event.event_category.slug + '/' + event.slug]">
              <img mat-card-image [src]="event.thumbnail_url" [alt]="event.title">
            </a>
            <mat-card-header>
              <mat-card-title>{{event.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{event.description}}</p>
            </mat-card-content>
            <mat-card-actions class="text-right">
              <a class="home-event-swiper-slide-schedule" [title]="event.title" mat-button color="blue-unam" [routerLink]="['/eventos/' + event.event_category.slug + '/' + event.slug]">
                Ver Horarios <fa-icon name="info-circle"></fa-icon>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
      </app-swiper>
    </div>
  </div>
</section>
<section class="container-fluid background-inter py-5">
  <h2 class="h2-primary">Talleres</h2>
  
  <div class="row px-md-5 pt-md-5">
    <div class="pb-md-5 col-md-4 px-md-2 px-0" *ngFor="let workshop of workshops">
      <mat-card>
        <a class="home-workshop-item-image" [title]="workshop.name" [routerLink]="['/talleres/' + workshop.slug]">
          <img mat-card-image [src]="workshop.image_url" [alt]="workshop.name">
        </a>
        <mat-card-header>
          <mat-card-title>{{workshop.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions class="text-right">
          <a class="home-workshop-item-detail" [title]="workshop.name" mat-button color="blue-unam" [routerLink]="['/talleres/' + workshop.slug]">
            Detalle <fa-icon name="info-circle"></fa-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-12" *ngIf="workshops.length==0&&visible">
      <p>Aún no hay talleres registrados</p>
    </div>
  </div>
</section>
