<h2 mat-dialog-title>Información de la inscripción</h2>
<mat-dialog-content>
  <div class="row">
    <div class="col-md-6"><strong>Periodo: </strong></div>
    <div class="col-md-6">{{inscription.workshopPeriod.period.name}}</div>
    <div class="col-md-6"><strong>Taller: </strong></div>
    <div class="col-md-6">{{inscription.workshopPeriod.workshop.name}}</div>
    <div class="col-md-6"><strong>Alumno: </strong></div>
    <div class="col-md-6">{{inscription.user.name}} {{inscription.user.lastname}} {{inscription.user.surname}}</div>
    <div class="col-md-6"><strong>Folio: </strong></div>
    <div class="col-md-6">{{inscription.folio}}</div>
    <div class="col-md-6"><strong>Fecha Inscripción: </strong></div>
    <div class="col-md-6">{{inscription.created_at | momentFormat:'DD/MM/YYYY HH:mm'}}</div>
    <div class="col-md-6"><strong>Fecha Validación: </strong></div>
    <div class="col-md-6">{{inscription.updated_at | momentFormat:'DD/MM/YYYY HH:mm'}}</div>
    <div class="col-md-6"><strong>Folio Ticket: </strong></div>
    <div class="col-md-6">{{inscription.ticket_folio}}</div>
    <div class="col-md-6"><strong>Fecha Ticket: </strong></div>
    <div class="col-md-6">{{inscription.ticket_date | momentFormat:'DD/MM/YYYY'}}</div>
    <div class="col-md-6"><strong>Cuota: </strong></div>
    <div class="col-md-6">{{inscription.quota | currency}} MXN</div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cerrar</button>
</mat-dialog-actions>