<section class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-5">
            <img *ngIf="event.image" [src]="event.image_url" width="100%">
        </div>
        <div class="col-md-7">
            <h1>{{event.title}}</h1>
            <div class="row" *ngIf="event.description">
                <div class="col-md-12">
                    <h3>Descripción</h3>
                    <p>{{event.description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Cupo</h3>
                    <p>{{event.quota}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Lugar</h3>
                    <p>{{event.classroom.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Horarios disponibles:</h3>
        <div class="col-md-12 overflow-x-auto">
            <div class="row">
                <div class="col-md-3" *ngFor="let showing of event.showings">
                    <div class="card-showing text-center">
                        <strong class="showing-day">{{showing.start | momentFormat:'DD'}}</strong>
                        <span>{{showing.start | momentFormat:'MMM'}}</span>
                        <span>{{showing.start | momentFormat:'YYYY'}}</span>
                        <strong>{{showing.start | momentFormat:'HH:mm'}} hrs.</strong>
                        <span class="text-right">Cupo: {{showing.students_inscribed_count}}/{{event.quota}}</span>
                        <button [disabled]="disableAllBtn" mat-raised-button color="primary" *ngIf="showing.can" (click)="inscribe(showing)">
                            Quiero asistir
                        </button>
                        <a mat-raised-button [href]="apiUrl + 'event/' + showing.insc_id + '/inscribe-pdf?token=' + token" *ngIf="showing.inscribed&&event.has_user" target="_blank" color="primary" class="full">Imprimir Boleto</a>
                        <a mat-raised-button [href]="apiUrl + 'event/' + showing.id + '/inscribe-pdf-admin?token=' + token" *ngIf="showing.role_user=='admin'" target="_blank" color="primary" class="full">Imprimir Muestra de Boleto</a>
                        <a [routerLink]="['/login']" [queryParams]="{next: router.url}" *ngIf="!event.has_user" mat-raised-button color="primary">
                            Iniciar sesión
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>