@import '~variables.scss';
.card-showing{
    border: 5px solid $blue-unam;
    padding: 10px;
    color: $blue-unam;
    border-radius: 10px;
    strong{
        display: block;
        font-size: 40px;
        &.showing-day{
            font-size: 70px;
        }
    }
    span{
        display: block;
        font-size: 30px;
    }
}