<section class="container-fluid">
    <div class="row mt-3 mb-5 justify-content-md-center">
        <!--<app-card-unam icon="fa-user" typeStudent="Alumnos" url="/registro/alumno" textUrl="Registrar" color="color-unam"></app-card-unam>-->
        <div class="col-md-8">
            <mat-tab-group #tabGroup backgroundColor="blue-unam" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                <!--<mat-tab disabled>-->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <fa-icon name="address-card"></fa-icon> Registro
                    </ng-template>
                    <div class="container">
                        <form [formGroup]="loginForm" (ngSubmit)="nextForm()">
                            <!--Register form-->
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput formControlName="name" placeholder="Nombre" required>
                                        <mat-error *ngIf="loginForm.get('name').hasError('required')">Se requiere
                                            nombre</mat-error>
                                        <mat-error *ngIf="loginForm.get('name').hasError('pattern')">Sólo se aceptan
                                            caracteres alfabéticos</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput formControlName="firstname" placeholder="Primer Apellido"
                                            required>
                                        <mat-error *ngIf="loginForm.get('firstname').hasError('required')">Se requiere
                                            primer apellido</mat-error>
                                        <mat-error *ngIf="loginForm.get('firstname').hasError('pattern')">Sólo se
                                            aceptan
                                            caracteres alfabéticos</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput formControlName="surname" placeholder="Segundo Apellido">
                                        <mat-error *ngIf="loginForm.get('surname').hasError('pattern')">Sólo se aceptan
                                            caracteres alfabéticos</mat-error>
                                    </mat-form-field>
                                </div>
                                <div [ngClass]="{'col-md-6': loginForm.get('gender').value=='' || loginForm.get('gender').value=='Masculino' || loginForm.get('gender').value=='Femenino', 'col-md-3': loginForm.get('gender').value=='Otro'}">
                                    <mat-form-field>
                                        <mat-select placeholder="Género" formControlName="gender" required>
                                            <mat-option value="">--</mat-option>
                                            <mat-option *ngFor="let gend of genders" [value]="gend.name">
                                                {{gend.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="loginForm.get('gender').hasError('required')">Se requiere
                                        Género</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3" *ngIf="loginForm.get('gender').value=='Otro'">
                                    <mat-form-field>
                                        <input matInput formControlName="genderOther" placeholder="Especificar Género">
                                        <mat-error *ngIf="loginForm.get('genderOther').hasError('pattern')">Sólo se aceptan
                                        caracteres alfabéticos</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput formControlName="email" placeholder="Email" required (paste)="false">
                                        <fa-icon matSuffix name="user" *ngIf="loginForm.get('email').status!='PENDING'"></fa-icon>
                                        <fa-icon name="spinner" animate="true" matSuffix *ngIf="loginForm.get('email').status=='PENDING'"></fa-icon>
                                        <mat-error *ngIf="loginForm.get('email').hasError('required')">Se requiere
                                            email</mat-error>
                                        <mat-error *ngIf="loginForm.get('email').hasError('email')">Ingresa un email
                                            válido</mat-error>
                                        <mat-error *ngIf="loginForm.get('email').hasError('unique')">El email ya
                                            existe. Si
                                            olvidaste tus datos de login acude al departamento de Actividades
                                            Culturales.</mat-error>
                                        <mat-error *ngIf="loginForm.get('email').hasError('emailMatch')">Los
                                                email's no coinciden</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput formControlName="confirmEmail" placeholder="Confirma email" required (paste)="false">
                                        <mat-error *ngIf="loginForm.get('confirmEmail').hasError('required')">Se requiere
                                            confirmar email</mat-error>
                                        <mat-error *ngIf="loginForm.get('confirmEmail').hasError('email')">Ingresa un email
                                            válido</mat-error>
                                        <mat-error *ngIf="loginForm.get('confirmEmail').hasError('emailMatch')">Los
                                                email's no coinciden</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="md-form">
                                        <mat-form-field>
                                            <input matInput type="password" placeholder="Contraseña" formControlName="password"
                                                required>
                                            <i class="fas fa-key" matSuffix></i>
                                            <mat-error *ngIf="loginForm.get('password').hasError('passwordMatch')">Las
                                                contraseñas no coinciden</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form">
                                        <mat-form-field>
                                            <input matInput type="password" placeholder="Confirma Contraseña"
                                                formControlName="confirmPassword" required>
                                            <i class="fas fa-key" matSuffix></i>
                                            <mat-error *ngIf="loginForm.get('confirmPassword').hasError('passwordMatch')">Las
                                                contraseñas no coinciden</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 py-4">Tipo de Alumno *</div>
                                <div class="col-12 pb-4">
                                    <mat-radio-group formControlName="studentType">
                                        <mat-radio-button class="mx-2" value="student">Alumno</mat-radio-button>
                                        <mat-radio-button class="mx-2" value="exstudent">Exalumno</mat-radio-button>
                                        <mat-radio-button class="mx-2" value="employee">Trabajador UNAM</mat-radio-button>
                                        <mat-radio-button class="mx-2" value="external">Externo</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-12">
                                    <mat-error *ngIf="loginForm.get('studentType').hasError('required')">Se requiere
                                        tipo de
                                        estudiante</mat-error>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <button mat-button type="submit" class="float-right" [disabled]="loginForm.invalid"
                                        color="blue-unam">Siguiente</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-tab>
                <!--<mat-tab disabled>-->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <fa-icon name="address-card"></fa-icon> Datos del Alumno
                    </ng-template>
                    <div class="container">
                        <form [formGroup]="dataStudentForm" *ngIf="user.student_type=='student'" (ngSubmit)="onSubmitStudent()">
                            <!--Register form-->
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input mask="00000000-0" matInput formControlName="numberId" placeholder="Número de cuenta"
                                            required>
                                        <mat-error *ngIf="dataStudentForm.get('numberId').hasError('required')">Se
                                            requiere
                                            Número de cuenta</mat-error>
                                        <mat-error *ngIf="dataStudentForm.get('numberId').hasError('pattern')">Sólo se
                                            aceptan caracteres numéricos</mat-error>
                                        <mat-error *ngIf="dataStudentForm.get('numberId').hasError('unique')">El número
                                            de cuenta ya existe. Si
                                            olvidaste tus datos de login acude al departamento de Actividades
                                            Culturales.</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Sistema" formControlName="system" required>
                                            <mat-option value="">--</mat-option>
                                            <mat-option *ngFor="let system of systems" [value]="system.id">
                                                {{system.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="dataStudentForm.get('system').hasError('required')">Se requiere
                                        Sistema</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Plantel" formControlName="campus" required>
                                            <mat-option>--</mat-option>
                                            <mat-option *ngFor="let camp of campus" [value]="camp.id">
                                                {{camp.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="dataStudentForm.get('campus').hasError('required')">Selecciona
                                            un
                                            plantel</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field matTooltip="Si tu plantel es un CCH o una Preparatoria elige Bachillerato como opción">
                                        <mat-select placeholder="Carrera" formControlName="career" required>
                                            <mat-option>--</mat-option>
                                            <mat-option *ngFor="let career of careers" [value]="career.id">
                                                {{career.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="dataStudentForm.get('career').hasError('required')">Selecciona
                                            una
                                            carrera</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input mask="0000" matInput formControlName="year" placeholder="Año de ingreso"
                                            required>
                                        <mat-error *ngIf="dataStudentForm.get('year').hasError('required')">Ingresa año
                                            de
                                            ingreso</mat-error>
                                        <mat-error *ngIf="dataStudentForm.get('year').hasError('min')">Ingresa un
                                            año
                                            válido</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input mask="0*" matInput formControlName="semester" placeholder="Semestre Actual"
                                            required>
                                        <mat-error *ngIf="dataStudentForm.get('semester').hasError('required')">Ingresa
                                            tu
                                            semestre actual</mat-error>
                                        <mat-error *ngIf="dataStudentForm.get('semester').hasError('min')">Ingresa
                                            un
                                            semestre válido</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input mask="(00) 0000 0000" matInput formControlName="phone" placeholder="Teléfono Fijo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input mask="(00) 0000 0000" type="text" matInput formControlName="celphone"
                                            placeholder="Celular" required>
                                        <mat-error *ngIf="dataStudentForm.get('celphone').hasError('required')">Ingresa
                                            un
                                            número celular</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--/Register form-->
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <button mat-button (click)="beforeForm()" type="button" color="blue-unam">Anterior</button>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <button mat-button type="submit" class="float-right" [disabled]="dataStudentForm.invalid || disableForm"
                                        color="blue-unam">Registrar</button>
                                </div>
                            </div>
                        </form>
                        <form [formGroup]="dataExstudentForm" *ngIf="user.student_type=='exstudent'" (ngSubmit)="onSubmitExstudent()">
                            <!--Register form-->
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input mask="00000000-0" matInput formControlName="numberId" placeholder="Número de cuenta"
                                            required>
                                        <mat-error *ngIf="dataExstudentForm.get('numberId').hasError('required')">Se
                                            requiere
                                            Número de cuenta</mat-error>
                                        <mat-error *ngIf="dataExstudentForm.get('numberId').hasError('unique')">El
                                            número de cuenta ya existe. Si
                                            olvidaste tus datos de login acude al departamento de Actividades
                                            Culturales.</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input mask="0000" matInput formControlName="year" placeholder="Año de egreso"
                                            required>
                                        <mat-error *ngIf="dataExstudentForm.get('year').hasError('required')">Ingresa
                                            año de
                                            egreso</mat-error>
                                        <mat-error *ngIf="dataExstudentForm.get('year').hasError('min')">Ingresa un
                                            año
                                            válido</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-select placeholder="Sistema" formControlName="system" required>
                                            <mat-option value="">--</mat-option>
                                            <mat-option *ngFor="let system of systems" [value]="system.id">
                                                {{system.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="dataExstudentForm.get('system').hasError('required')">Se requiere
                                        Sistema</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Plantel" formControlName="campus" required>
                                            <mat-option>--</mat-option>
                                            <mat-option *ngFor="let camp of campus" [value]="camp.id">
                                                {{camp.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="dataExstudentForm.get('campus').hasError('required')">Selecciona
                                            un
                                            plantel</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field matTooltip="Si tu plantel es un CCH o una Preparatoria elige PREPARATORIA como opción">
                                        <mat-select placeholder="Carrera" formControlName="career" required>
                                            <mat-option>--</mat-option>
                                            <mat-option *ngFor="let career of careers" [value]="career.id">
                                                {{career.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="dataExstudentForm.get('career').hasError('required')">Selecciona
                                            una
                                            carrera</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input mask="(00) 0000 0000" matInput formControlName="phone" placeholder="Teléfono Fijo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input mask="(00) 0000 0000" matInput formControlName="celphone" placeholder="Celular"
                                            required>
                                        <mat-error *ngIf="dataExstudentForm.get('celphone').hasError('required')">Ingresa
                                            un
                                            número celular</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--/Register form-->
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <button mat-button (click)="beforeForm()" type="button" color="blue-unam">Anterior</button>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <button mat-button type="submit" class="float-right" [disabled]="dataExstudentForm.invalid || disableForm"
                                        color="blue-unam">Registrar</button>
                                </div>
                            </div>
                        </form>
                        <form [formGroup]="dataEmployeeForm" *ngIf="user.student_type=='employee'" (ngSubmit)="onSubmitEmployee()">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input mask="0*" matInput formControlName="numberId" placeholder="Número de trabajador"
                                            required>
                                        <mat-error *ngIf="dataEmployeeForm.get('numberId').hasError('required')">Se
                                            requiere
                                            Número de Trabajador</mat-error>
                                        <mat-error *ngIf="dataEmployeeForm.get('numberId').hasError('unique')">El
                                            número de trabajador ya existe. Si
                                            olvidaste tus datos de login acude al departamento de Actividades
                                            Culturales.</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Plantel" formControlName="campus" required>
                                            <mat-option>--</mat-option>
                                            <mat-option *ngFor="let camp of campus" [value]="camp.id">
                                                {{camp.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="dataEmployeeForm.get('campus').hasError('required')">Selecciona
                                            un
                                            plantel</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Turno" formControlName="workshift" required>
                                            <mat-option>--</mat-option>
                                            <mat-option value="Matutino">Matutino</mat-option>
                                            <mat-option value="Vespertino">Vespertino</mat-option>
                                            <mat-option value="Ambos">Ambos</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput formControlName="area" placeholder="Área" required>
                                        <mat-error *ngIf="dataEmployeeForm.get('area').hasError('required')">Ingresa un
                                            número celular</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input mask="(00) 0000 0000" matInput formControlName="phone" placeholder="Teléfono Fijo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input mask="(00) 0000 0000" matInput formControlName="celphone" placeholder="Celular"
                                            required>
                                        <mat-error *ngIf="dataEmployeeForm.get('celphone').hasError('required')">Ingresa
                                            un
                                            número celular</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--/Register form-->
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <button mat-button (click)="beforeForm()" type="button" color="blue-unam">Anterior</button>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <button mat-button type="submit" class="float-right" [disabled]="dataEmployeeForm.invalid || disableForm"
                                        color="blue-unam">Registrar</button>
                                </div>
                            </div>
                        </form>
                        <form [formGroup]="dataExternalForm" *ngIf="user.student_type=='external'" (ngSubmit)="onSubmitExternal()">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input mask="(00) 0000 0000" matInput formControlName="phone" placeholder="Teléfono Fijo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input mask="(00) 0000 0000" matInput formControlName="celphone" placeholder="Celular"
                                            required>
                                        <mat-error *ngIf="dataExternalForm.get('celphone').hasError('required')">Ingresa
                                            un
                                            número celular</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select placeholder="Ocupación" formControlName="occupation" required>
                                            <mat-option>--</mat-option>
                                            <mat-option *ngFor="let occupation of occupations" [value]="occupation.id">
                                                {{occupation.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="dataExternalForm.get('occupation').hasError('required')">Selecciona
                                            una
                                            Ocupación</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <textarea matInput placeholder="Dirección" formControlName="address" required></textarea>
                                        <mat-error *ngIf="dataExternalForm.get('address').hasError('required')">Ingresa
                                            tu dirección</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!--/Register form-->
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <button mat-button (click)="beforeForm()" type="button" color="blue-unam">Anterior</button>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <button mat-button type="submit" class="float-right" [disabled]="dataExternalForm.invalid || disableForm"
                                        color="blue-unam">Registrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>