@import '~variables.scss';
mat-form-field{
    width: 100%;
}
.mat-card{
    padding: 0px;
    .mat-card-title{
        padding: 24px;
        background-color: $blue-unam;
        color: $white;
    }
    .mat-card-content{
        padding: 24px;
    }
    .mat-card-actions{
        padding: 24px;
        min-height: 70px;
    }
}
.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
}