<section class="container-fluid">
  <h2>Editar: {{teacher.name}}</h2>
  <div class="row mt-3 mb-5 justify-content-md-center">
    <div class="col-md-8">
      <form [formGroup]="editFormGroup" (ngSubmit)="edit()">
        <!--Register form-->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <input matInput formControlName="name" placeholder="Nombre" required>
              <mat-error *ngIf="editFormGroup.get('name').hasError('required')">Se requiere nombre</mat-error>
              <mat-error *ngIf="editFormGroup.get('name').hasError('pattern')">Sólo se aceptan
                caracteres alfabéticos</mat-error>

            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput formControlName="lastname" placeholder="Primer Apellido" required>
              <mat-error *ngIf="editFormGroup.get('lastname').hasError('required')">Se requiere
                primer apellido</mat-error>
              <mat-error *ngIf="editFormGroup.get('lastname').hasError('pattern')">Sólo se aceptan
                caracteres alfabéticos</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput formControlName="surname" placeholder="Segundo Apellido">
              <mat-error *ngIf="editFormGroup.get('surname').hasError('pattern')">Sólo se aceptan
                caracteres alfabéticos</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput formControlName="email" placeholder="Email" required>
              <mat-error *ngIf="editFormGroup.get('email').hasError('email')">Ingresa un email válido</mat-error>
              <mat-error *ngIf="editFormGroup.get('email').hasError('required')">Se requiere email</mat-error>
              <mat-error *ngIf="editFormGroup.get('email').hasError('unique')">El email ya
                existe en algún tipo de usuario.</mat-error>
            </mat-form-field>
          </div>
          <div [ngClass]="{'col-md-6': editFormGroup.get('gender').value=='' || editFormGroup.get('gender').value=='Masculino' || editFormGroup.get('gender').value=='Femenino', 'col-md-3': editFormGroup.get('gender').value=='Otro'}">
            <mat-form-field>
              <mat-select placeholder="Género" formControlName="gender" required>
                <mat-option value="">--</mat-option>
                <mat-option *ngFor="let gend of genders" [value]="gend.name">
                  {{gend.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="editFormGroup.get('gender').hasError('required')">Se requiere
                Género</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3" *ngIf="editFormGroup.get('gender').value=='Otro'">
            <mat-form-field>
              <input matInput formControlName="genderOther" placeholder="Especificar Género">
              <mat-error *ngIf="editFormGroup.get('genderOther').hasError('pattern')">Sólo se aceptan
                caracteres alfabéticos</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input mask="(00) 0000 0000" matInput formControlName="phone" placeholder="Teléfono Fijo">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input mask="(00) 0000 0000" type="text" matInput formControlName="celphone" placeholder="Celular">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mt-3">
            <a mat-button [routerLink]="['/admin/profesores/']" color="warn">Cancelar</a>
            <button mat-button type="submit" class="float-right" [disabled]="editFormGroup.invalid" color="blue-unam">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>