.mat-button.mat-blue-unam, .mat-icon-button.mat-blue-unam, .mat-stroked-button.mat-blue-unam{
    color: $blue-unam;
}
.mat-button.mat-blue-unam .mat-button-focus-overlay, .mat-icon-button.mat-blue-unam .mat-button-focus-overlay, .mat-stroked-button.mat-blue-unam .mat-button-focus-overlay{
    background-color: rgba(63,81,181,.12);
}
.mat-radio-button{
    &.mat-accent{
        .mat-radio-inner-circle{
            background-color: $blue-unam;
        }
        &.mat-radio-checked{
            .mat-radio-outer-circle{
                border-color: $blue-unam;
            }
        }
    }
    .mat-radio-ripple{
        .mat-ripple-element{
            background-color: rgba($blue-unam , 26);
        }
    }
}
.mat-tab-group, .mat-tab-nav-bar{
    &.mat-background-blue-unam{
        .mat-tab-header, .mat-tab-links{
            background-color: $blue-unam;
        }
        .mat-tab-label, .mat-tab-link{
            color: $white;
            &.mat-tab-disabled {
                color: $whiteDisable;
            }
        }
    }
}
.load-modal{
    .mat-dialog-container {
        background-color: transparent;
        box-shadow: none;
    }    
}
.afu-dragndrop-box {
    width: 100%!important;
}
.no-underline{
    .mat-form-field-underline{
        background-color: transparent;
    }
}
.mat-form-field{
    display: block!important;
}
h2{
    &.h2-primary{
        color: $blue-unam;
        border-bottom: 1px solid $blue-unam;
        margin-left: 30%;
        margin-right: 30%;
        padding-bottom: 20px;
        font-size: 38px;
        text-align: center;
    }
    &.h2-secondary{
        border-bottom: 3px solid $blue-unam;
        padding: 10px 0;
        margin: 20px 0;
    }
}
section{
    &.background-inter{
        &:nth-child(even) { 
            background: #fff;
        }
        &:nth-child(odd) { 
            background: #fafafa;
        }
    }
}
.mat-card{
    box-shadow: none!important;
    background: transparent!important;
    .mat-card-title{
        font-size: 24px!important;
    }
}
.mat-toolbar{
    z-index: 2;
    padding: 0px!important;
}
.container-acfa{
    top: 56px;
    position: relative;
}
.overflow-x-auto{
    overflow-x: auto;
}
.full{
    width: 100%;
}
.anchor-action{
    margin: 0 5px;
}
.tr-warning{
    background-color: $warning;
}
.tr-info{
    background-color: $info;
}