@import '~variables.scss';
.card{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    margin-top: 50px;
    border: none;
    .card-icon{
        text-align: center;
        font-size: 50px;
        margin-top: -50px;
        color: $white;
        .card-icon-container{
            display: inline-block;
            border-radius: 50%;
            display: inline-block;
            width: 100px;
            height: 100px;
            position: relative;
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
            .card-icon-content{
                display: inline-block;
                top: 24%;
                left: 24%;
            }
        }
    }
    &.color-unam{
        .card-icon-container{background-color: $blue-unam;}
        .card-unam-footer a{background-color: $blue-unam;}
    }
    &.color-success{
        .card-icon-container{background-color: $success;}
        .card-unam-footer a{background-color: $success;}
    }
    &.color-warning{
        .card-icon-container{background-color: $warning;}
        .card-unam-footer a{background-color: $warning;}
    }
    &.color-primary{
        .card-icon-container{background-color: $primary;}
        .card-unam-footer a{background-color: $primary;}
    }
    &.color-danger{
        .card-icon-container{background-color: $danger;}
        .card-unam-footer a{background-color: $danger;}
    }
    .card-unam-footer{
        text-align: center;
        a{
            width: 100%;
            display: inline-block;
            padding: 10px;
            color: $white;
            text-decoration: none;
        }
    }
}