<div class="card" [ngClass]="color">
    <div class="card-icon">
        <div class="card-icon-container">
            <div class="card-icon-content">
                <i class="fa" [ngClass]="icon"></i>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{typeStudent}}</h5>
    </div>
    <div class="card-unam-footer">
        <a href="{{url}}">{{textUrl}}</a>
    </div>
</div>